<div class="wrap reading reply fixed" style="clear:both; height: 7em;">
<%= form_for([@reply, @message]) do |f| %>
	<h5 style="margin: .5em 0 .25em;">Send <%= first_name name %> a message...</h5>
	<%= f.text_area :message, placeholder: "Type your message here...", style: "margin: 0 auto; width: 100%; height: 2em;" %>

	<span style="float: right;">
		<%= f.submit "Send message", class: "button", style: "margin: 0 0 6em;" %>
	</span>
<% end %>
</div>

