<div class="project-listing"> 
	<a href="/replies/<%= message.id %>" class="reply">

		<div class="avatar">		
			<%= image_tag message.user.photo.url %>
		</div>
		
		<div class="name">	
			<%= message.user.name %>
		</div>
		
		<div class="message">
			<%= truncate message.message, length: 120 %>
		</div>
	</a>
</div>
