<div class="reading wrap" style="padding-bottom: 5em;">
	
	<p style="font-size: 13px; width: 100%; text-align: left; color:#666; margin: 2em 0 3em;" class="top-menu">
		<%= link_to "â† Back to your projects", yours_projects_path, :style => "color: #666;" %>	
	</p>
	
	<section>
		<h2 class="uppercase">Replies to your project</h2>
	</section>

<div style="box-shadow: #ccc 0px 0px 10px; border-radius: 5px;">
	<% if @project.replies.empty? %>
		<span style="padding: .5em .25em .5em 1em; display: inline-block;">You have no replies yet to this project. Share it with your audience:</span>
		
		<div style="vertical-align: -5px; display: inline-block;">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://app.letsworkshop.com/projects/<%= @project.id %>" data-text="We're hiring: <%= @project.title %>" data-via="letsworkshop" data-size="large">Tweet</a> 		
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
		</div>
			
	<% end %>

	<% @project.replies.each do |reply| %>
		<%= render "replies/client_reply_view", reply: reply %>
	<% end %>
</div>

</div>
