

<div class="max-w-xl mt-8 pt-8 mx-auto pb-8">
		<h1 class="font-display"><%= sanitize @project.title %></h1>
		<p><%= link_to "Edit project description", edit_project_path %></p>

		<h2 class="w-full border-t-2 border-b-2 px-2 py-2 mt-8 text-grey-darker">Replies</h2>
		<% if @project.replies.empty? %>
			<div class="w-full rounded-lg bg-grey-lighter p-8 my-4">
				<p>
					No replies yet
				</p>
			</div>
		<% elsif @project.replies.unarchived.empty? %>
			<div>
				<p>
					You've archived all replies for this project. <%= link_to "See old messages".html_safe, inbox_projects_path(archived: @unread_message_count.zero? || nil) %>
				</p>
			</div>
		<% else %>
			<div id="replies" class="list-group">				
				<% @project.replies.unarchived.each do |reply| %>
					<%= render "replies/client_reply_view", reply: reply %>
				<% end %>
			</div>
		<% end %>

</div>
