<script>
$(document).ready(function(){
  $('textarea').autosize();
});
</script>



<div style="padding: 0 0 5em 0;">
<%= form_for([@project, @reply]) do |f| %>
	<div class="textarea-wrap" style="margin: 0 auto 2em;">
		<%= f.text_area :message, :placeholder => "Write your message here..." %>
		
		<span style="font-size: 12px; color: #e15980; text-align: right; display: block; width: 100%:">250 words left</span>
	</div>
	
	<p style="margin: 0 0 1em; color: #666; display: inline-block;">
		<small>
			<a href="http://emailsthatwin.com" style="color: #666;">
		How to write a client-winning message</a>
		</small>
	</p>
	

	<% if current_user.present? && current_user.can_reply_with_portfolio?(@reply.project) %>
		<%= render "replies/portfolio_upload_form", f: f %>
	<% end %>
		<div style="margin:0; display: table; float: right;width: 200px; text-align:center; line-height: 1;">
			<%= f.submit 'Send message', class: "button", :style => "margin: .25em 0;" %>
		</div>
<% end %>
</div>