<% if @reply.portfolio_message.present? %>
<div style="padding: 0 0 2.25em;">
	<div class="portfolio-individual" style="display: table;  border-radius: 5px;  padding: .75em; box-sizing: border-box; border-radius: 13px; margin: -1.5em auto 0;">
		
		<%= image_tag(@reply.portfolio_image.url, class: "photo", align: "left", style: "margin: 1.5em 1em 0 0; height: 200px;border-radius: 5px;") if @reply.portfolio_image.present? %>
		
		
		<p class="message" style="display: table;">
			<small><strong>This project shows why I'm great for yours:</strong></small><br>

			<%= h(@reply.portfolio_message).gsub("\n", "<br>").html_safe %>
		</p>
	</div>
</div>
<% end %>
