<style>
.portfolio {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.portfolio + label {
  display: inline-block;
	margin: 0 auto;
	color: #FFF !important;
	font-family: 'rooney-sans', -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !important;
	border: 0;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
	font-size: 18px;
	margin: 0;
	padding: 8px 20px 10px;
	line-height: 1;
	cursor: pointer;
  background: #8c6eb9;
	transition: background 0.1s ease;
	width: auto; 
	display: inline-block; 
	text-align:center; 
	padding: .5em 1em; 
	margin: 0 auto;
}

.portfolio:focus + label,
.portfolio + label:hover {
	background: #302f29;
}

.portfolio + label {
	cursor: pointer; /* "hand" cursor */
}
</style>

<script>
$(function() {
  $('#portfolio').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      $("#portfolio-selection").hide();
      $("#portfolio-display").show();
      $('#portfolio-image').attr('src', file.target.result);
      $("#reply_portfolio_message").val($("#reply_portfolio_message").data('reply-content'));
      $("#portfolio-display .counter").width($("#reply_portfolio_message").width());
    }
    reader.readAsDataURL(image);
    console.log(files);
  });

  $("#remove-portfolio").click(function () {
      $("#portfolio-selection").show();
      $("#portfolio-display").hide();
      $("#reply_portfolio_message").data('reply-content',$("#reply_portfolio_message").val());
      $("#reply_portfolio_message").val("");
      $('#portfolio').val("");
  });

});
</script>


<div id="portfolio-selection" style="width:100%; display: block; text-align: center; border-radius: 15px; vertical-align: top;  box-sizing: border-box; color: #aaa; text-decoration: none; margin: 0 .5em 3em; line-height: 1.5; padding: .25em 2em 1em; background-color: #f1f1f1; margin: 2em 0;">
	
	<p style="margin-top: 1em;" class="question-header"><strong><span style="color: #fff; background-color: #86d15a; border-radius: 3px; padding: .2em .5em; font-size: 60%; margin-right: .5em; vertical-align: 2px;">PRO</span> Add a 300x900 portfolio piece image to your message:</strong></p>
	
	<div id="" style="margin: .5em 0 1em;font-size: 14px; color:#7c8d99;">300 pixels by 900 pixels wide is optimal. We'll resize automatically if it's wider.</div>
	
	<div style="margin: 1em 0; width:100%; text-align:center;">
		<%= f.file_field :portfolio_image, :name => "portfolio", :class => "portfolio", :id => "portfolio", style: "width:170px; text-align: center; margin: 0 auto; display: block; cursor: pointer !important;" %>
	
		<label for="portfolio">Upload a portfolio piece...</label>
	</div>
</div>


<div id="portfolio-display" style="display:none;">
	<%= image_tag 'portfolios-folyo.png', id: "portfolio-image", :style => "width:100%; border-radius:5px; border: 1px solid #dee5e9;" %>
	<p style="text-align:center; margin: 0;"><a href="javascript:" id="remove-portfolio" style="color: #db8688; font-size: 14px; text-decoration: none; margin: 0 0 1.5em;"><i class="fa fa-trash-o" aria-hidden="true" style=" margin-right:.5em;"></i>Remove portfolio</a></p>
	
	<p class="question-header" style="margin:1em 0 .5em 0;"><strong>Why did you pick this portfolio piece?</strong></p>
	
	<div style="font-size: 14px; width: 170px; float:right; color:#7c8d99;">Tip: Try answering how this work shows you're perfect for the project.</div>

	<%= f.text_area :portfolio_message, placeholder: "On this project...", data: { max_characters: 300 } %>
</div>


