	<p class="preview-message">

		<%= h(@reply.message).gsub("\n", "<br>").html_safe %>
	
		<% if allow_edit %>
			<br><br>
			<%= link_to "Edit your message", edit_reply_path(@reply), class: "message-preview-edit uppercase" %>
		<% end %>
		<br><br>
	</p>