<div class="content">
<h1>All Chapters</h1>


<% @faqs.group_by(&:category).each do |category, faqs| %>
<h3><%= category %>:</h3>
	<ul>
	<% faqs.each do |faq| %>
		<li><%= link_to faq.question, edit_faq_path(faq) %> | <%= link_to 'Destroy', faq, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
	</ul>
<% end %>


<br>

<%= link_to 'New Chapter', new_faq_path, :class => "submit" %>
</div>