<p>Hello <%= @user.name %>!</p>

<p>Welcome to Folyo! Thanks for signing up.</p>

<p>I'm Rob. The founder of Folyo.</p>

<p>I built Folyo because I thought I could help you find a freelancer or client you love to work with. If you're ready to get started on a project, click the link below.</p>

<p>[ Take me to Folyo ]</p>

<p>Thanks again!<br>
Rob</p>

<p>PS. What type of work are you looking for? I'd love to hear about it. Reply to this email, I'm waiting to hear back.</p>
