<section class="global-nav">
	<ul>
	<li><a href="http://inwheelhouse.com">< Back to Wheelhouse</a></li>
	</ul>
</section>
<section class="loose-wrap breathe-bottom">

<center><%= image_tag('wheelhouse.png', :style => "width: 300px;") %></center>

<h1 style="margin: 2em 0  .5em;">You just want your app built already.</h1>

<p>You've finished brainstorming, you know what you want, and now you feel stuck. You have everything in place, everything except for someone who actually knows what they're doing to build your idea.</p> 

<p>But you don't know where to look for a freelancer or how much it will even cost. That's when you realize that the wonderful app idea you have in your head doesn't exist yet.</p>

<h1>A month from now your app can come to life.</h1>

<p>In just a couple weeks your idea could be a reality that's generating your real revenue. By tomorrow you could go from feeling totally lost about where to start, with no developer in site, to interviewing tons of great potential options.</p>

<p>You can skip years of trial and error and building a network of freelancers that insiders have the advantage of you and instead simply pick from the best from the very start. Best of all, you know the price upfront and only jump into a project with these terms already ironed out for you. Past </p>




<section style="border: 2px solid #d5b463; border-radius: 5px; padding: 0px 60px; margin: 2em 0;">
<h1>Use this form to get started. See exactly how much it will cost to build the app of your dreams. Absolutely free.</h1> 
<%= render 'build' %>
</section>
</section>