<% content_for :title, "Find a great freelancer or consultant without the spam" %>

<section class="content connect">
	

<h1>Finding a freelancer online is hard and risky: 90% of responses you'll get on public job boards are spam.</h1>

<p>That’s why looking for a freelancer on a job board is a gamble at best. Picking from this list of shady freelancers that swarm your inbox means throwing thousands of dollars at someone you don't trust. It's no wonder you leave posting to a job board as a last resort.</p>

<p>See, the truth is free job boards and other job sites attract freelancers who don’t value their time. These “freelancers” are willing to battle at the bottom of the barrel using shady tactics to find work.</p>

<p>Plus, using these sites costs you a lot – often more than $300+ per listing – and you don't get much in return. Every reply will say they can do what you’re asking, yet 99% will fail to deliver. With those numbers, your odds of a successful project take a big hit.</p>

<h1>But what if your job post wasn’t plastered around for every slimy internet marketer to see?</h1>

<p>What if you could afford to be very selective even among the best? What if you found the last place you ever needed to hire the perfect freelancer?</p>

<p>A place full of freelancers that have to pay for the privilege to talk with you. Freelancers who have a skin in the game and value their time so much, they won’t contact you unless it’s a perfect fit. Freelancers so focused on delivering value they prove it from the very first email (instead of just claiming it).</p>

<section style="border: 2px solid #444; border-radius: 5px; padding: 0px 60px; margin: 4em 0;">
<h1>Use this form to submit your project and I’ll send it out (to a private list of paying freelancers) as early as tomorrow. Absolutely free.</h1> 
<%= render 'form' %>
<blockquote>
	<p><br>"Workshop absolutely rocks! I can focus on doing my job instead of having to crawl the web for freelancers!" – Ali Porter<br></p>
</blockquote>
</section>



<h2>Want to learn more about Workshop?</h2>
<p style="margin: 0 auto 5em;">It's a service I run where I send out high quality projects to a small list of amazing freelance consultants. <%= link_to 'Click here to learn more.', root_path %></p>
</div>