<section class="global-nav">
	<ul>
	<li><a href="http://emailsthatwin.com">Emails that win book</a></li>
	<li><a href="http://letsworkshop.com">Freelance jobs emailed to you</a></li>
	<li>Post your freelance project (free)</li>
	</ul>
</section>
<section class="reading-wrap breathe-bottom">
<h1 style="margin: 2em 0  .5em;">90% of responses from freelancers on job boards are spam.</h1>

	<p>That’s why job boards are a gamble at best. As soon as you post your project your inbox will get flooded. That's how you get surrounded by shady freelancers, especially if you're  not sure what to look out for.</p>

	<p>Picking from this list of freelancers means leaving thousands of dollars up to chance. This uneasy feeling is why you leave posting to a job board as a last resort. </p>

	<p>Instinctively, you first reach out to your trusted network – but when you don’t hear back, you’re again forced to use job boards. You put up with unqualified resumes, canned response, and people who clearly didn’t read your job post hoping you'll find a diamond in the rough.</p>

	<p>See, the truth is free job boards and other job sites attract freelancers who don’t value their time. These “freelancers” are willing to battle at the bottom of the barrel using shady tactics to find work.</p>

	<p>Plus, using these sites costs a lot. Some more than $300+ per listing. </p>

	<p>What do you get for your money? Sure, you get quantity – but what’s quantity when you don’t trust the responses? Every reply will say they can do what you’re asking, yet 99% will fail to deliver. With those numbers, your odds of a successful project take a big hit. </p>

	<h2>But what if your job post wasn’t plastered around for every slimy internet marketer to see? </h2>

	<p>What if you could afford to be very selective, even among the best consultants on the web?</p>

	<p>What if you were torn at the amazing opportunities in front of you instead of which freelancer to settle for?</p>

	<p>What if you found the last place you ever needed to hire the perfect freelancer every time?</p>

	<p>That’s what you can do when you reach out to Workshop. It’s full of freelancers that pay for the privilege to talk with great clients like you. Freelancers who value their time so much they won’t contact you unless it’s a perfect fit. Freelancers so focused on delivering you value they prove it from the very first email. </p>

	<p>In fact, Workshop is a network of trusted professionals who are able to deliver what they promise, and then some. It’s like your own trusted network, only bigger. </p>

	<h2>Sign up below and I’ll send your project out to this private list of paying freelancers as early as tomorrow.</h2> 
	<p>All freelancers on my list are looking for quality clients like you, and are willing to set them selves apart to do it. </p>

	<p>And to prove it, I’m willing to offer a 125% money back guarantee if you don’t find the perfect freelancer. Just email me and get your money back plus 25%.</p>

	<p>You already tried reaching out to your network, why not try this?</p>

<%= render 'form' %>
<hr>
<h2>Want to learn more about this service?</h2>
<p>It's called Workshop. I send out high quality projects to a small list of amazing freelance consultants. <%= link_to 'Click here to learn more.', root_path %></p>
</section>