<section class="global-nav">
	<ul>
	<li><a href="http://emailsthatwin.com">Emails that win book</a></li>
	<li><a href="http://letsworkshop.com">Freelance jobs emailed to you</a></li>
	<li>Post your freelance project (free)</li>
	</ul>
</section>
<section class="reading-wrap breathe-bottom">
<h1>Hire a freelancer without email overload</h1>
<p>Eliminate 100% of resume spam by only sending your project to freelancers with skin in the game.</p>

<p>Fill out the form below and I'll send your project to over 200 world-class consultancies tomorrow morning (or on the next business day).</p> 

<p>No job board, no spam, just top design and development shops replying straight to your email. You'll hear back fast (like tomorrow).</p>

<p><strong>Note: This service is 100% free for you.</strong> The only requirement is that your project must be a remote, freelance gig with a budget of at least $1,000 or more. I send out gigs at 8:00 am EST every weekday. You'll hear back fast.</p>

<p><%= link_to 'Looking for work?', root_path %></p>
<hr>
<%= render 'form' %>
<hr>
<h2>Want to learn more about this service?</h2>
<p>It's called Workshop. I send out high quality projects to a handful of amazing freelance consultants. <%= link_to 'Click here to learn more.', root_path %></p>
</section>