<section class="reading-wrap">
<h1>Email over 200 wonderful freelancers by tommorrow for free!</h1>
<p>This service is 100% free. Fill out the form below and I'll send your project to over 200 world-class freelancers. No job board, no spam, just top freelance design and developers replying straight to your email.</p>

<p>The only requirements are that your project must be a remote, short-term gig with a budget of at least $1,000 or more. I send out gigs at 8:00 am EST every weekday. You'll hear back fast.</p>

<p><%= link_to 'Looking for freelance work?', root_path %></p>
<hr>
<%= render 'form' %>
<hr>
<h2>Want to learn more about this service?</h2>
<p style="margin: 0 0 5em 0;">It's called Workshop. I send out high quality projects to a handful of amazing freelance consultants. <%= link_to 'Click here to learn more.', root_path %></p>
</section>