<section class="reading-wrap" style="text-align: center;">
<%= image_tag("successful_order.png", :style => "margin: 5em 0 0 0;") %>
<h1>Sweet! Your project is ready for delivery!</h1>
<p>Thanks for sending it in. I'll review it, and email you if I have any questions (my email is robert@letsworkshop.com). If not, expect it to be featured in my newsletter tomorrow (or on the next business day). – Best, Robert</p>
</section>