<h1>Save time with every response to your project in one place and short to-the-point.</h1>
<p>Nobody is born knowing how to write a great job description or project brief. That's why we've created a guided project brief experience focused on value. What's going to be real, successful and create most value for the client?</p>

<%= link_to 'See what replies to projects look like', leads_path %> or 
<%= link_to 'Get started writing your project brief for $99', new_project_path %>

<%= image_tag 'replies.png', :style => "max-width: 100%; border: 1px solid #aaa; border-radius: 5px; margin: 2em auto; display: block;" %>



<%= render "layouts/footer_menu" %>