


<div class="tour_wrap" style="max-width: 900px; width: 100%; margin: 0 auto; box-sizing: border-box;">
	
	<div class="tour_image_wrap" style="border: 1px solid #ff950b; margin: 2em 0; border-radius: 10px; display: block; max-height: 200px; text-align: center; overflow: hidden;">
	<%= image_tag 'guided-brief.png', :class => "tour-image", :style => "max-height: 250px; margin-top: -60px;" %>
	</div>
	
	
	
	<div class="current_page" style="display:inline-block; box-sizing: border-box; max-width: 580px;">
		<h2>Create a valuable project in minutes with our guided project brief.</h2>
		<p>No one is born knowing how to write a project description from scratch. We guide you in identifying places where a project can deliver value.</p>
	</div>
	
	<div class="next_page" style="display:inline-block; box-sizing: border-box; max-width: 300px; vertical-align: top; padding: 2em 0 0 2em; text-align:center;">
		<a class="button" href="#">Next page</a><br><br>
		or <a href="#">Post your project now</a>
	</div>
</div>
	





<%= render "layouts/footer_menu" %>