<% if @user.category_ids.count >0 && @user.category_ids.count < @categories.count %>
	<h3>Leads categories you have turned off:</h3>		
	<p class="small">
		<% @categories.each do |category| %>
			<% unless @user.category_ids.include? category.id %>
				<strike><%= category.name %></strike> <a href="<%= update_subscription_categories_url %>?category_id=<%= category.id %>">Turn back on</a><br>
			<% end %>
		<% end %>
	</p>
<% end %>
