<html lang="en"> 
<meta charset="UTF-8">
<head>
<style>
html, body, div {
	max-width: 100%;
	padding: 3px;
}
body {
	color: #444; 
	font-size:15px; 
	line-height: 18px; 
	font-family: 'Gotham SSm A', 'Gotham SSm B', Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
	width: 55em; 
	max-width: 100%;
	margin: auto; 
	padding: 3px;
	box-sizing: border-box;
}
a {
	color: #2a97bf;
}
a.button {
	background-color: #2a97bf;
	color: #FFF;
	border-radius: 5px;
	padding: .5em .75em;
	display: inline-block;
	margin: 1em 0;
	text-decoration: none;
}
h1, h2, h3 {
	line-height: 1.2;
}
h3 {
	margin: 1em 0 .25em;
}

.checklist p table {
	font-size: 12px;
	line-height: 25px;
}

.checklist td {
	padding: 0 1em 0 1em;
}

.checklist {
	font-size: 10px;
	line-height: 25px;
	padding: .5em 2em 1em;
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	margin: 1em 0 2em;
	border: 2px solid #d9d3cf;
}

.checklist h3 {
	font-size: 150%;
	margin: 1em 0 1em 0;
}

.checklist strike {
	color: #9e9890;
	margin: 0 0 0 10px;
	vertical-align: 4px;
}

.checklist a {
	margin: 0 0 0 10px;
	vertical-align: 4px;
}

td {
	padding: .5em 0;
}

table a {
	text-decoration: none;
}

p {
	font-size: 15px;
	line-height: 21px;
	margin:1em 0px;
}
.image-wrap .image {
	width: 75px;
	border-radius: 75px;
}
.photo {
	width: 60px; 
	border-radius: 75px;
	margin: 0 10px 0 0;
}

.name , .email a {
	color: #444;
	
}
.twitter a {
	color: #9e9890;
	font-size: 75%;
}

.small {
	color: #9e9890;
	font-size: 13px;
}
.small a {
	font-size: 11px;
	text-decoration: none;
	font-weight: 600;
}
.guide {
	padding: 1.5em 2em; 
	background-color: #9e9890; 
	color: #FFF;
	box-sizing: border-box;
	width: 136px; 
	height: 120px; 
	line-height: 1.5em; 
	font-size: 14px; 
	font-weight:bold;
	vertical-align: 
	middle; float: 
	left; display: 
	inline-block; 
	margin: 1em 1em .5em 0;
	border-radius: 5px;
}
hr {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 1px;
	background-color:#D9D3CF;
	border: 0;
	box-sizing: border-box;
}

.exclusive h4 {
	background-color: #f3e1ab;
	padding: .35em .75em;
	border-radius: .2em;
}
.exclusive {
margin: .5em 0 1em;
}
</style>
</head>
<body>

<%= render 'worker_mailer/lead_milestones' %>


<h1>Step 1: Choose one lead to contact</h1>
<%= render 'worker_mailer/lead_render' %>

<p class="small">
These leads have been hand-checked for quality. If you see something you don’t like, email me and let me know. Mistakes happen and errors do get in occasionally but I’d hate to see you go back to elance or checking job boards manually because of an error. We want to know about anything you'd like to see removed. <a href="MAILTO:julie@letsworkshop.com">Click here to report an error</a>.
</p>


<%= render 'worker_mailer/lead_categories' %>	
	

<h1>Step 2: Find information about the company</h1>

<ul>
	<li>What do you genuinely love about them?</li>
	<li>What's the name of a recent blog post they wrote that resonated with you? Why?</li>
	<li>What can you help them with?</li>
	<li>What can you give them that will help them immediately?</li>
</ul>

<h1>Step 3: Write your email</h1>



<div style="padding: 2em 0;">

<img src="/images/julie.jpg" style="width: 100px; border-radius: 100px; margin: 2em 2em 5em 0;" align="left"> 

<h2>Hey I'm Julie, I can help...</h2>
<p>
How can I help you land these projects? Where are you currently getting stuck? Click the button below and let me know! Whether it's choosing a lead, writing something great or anything else, I'm here to help.<br><a href="MAILTO:julie@letsworkshop.com" class="button">Respond to Julie</a>
</p>

</div>


<div style="padding: 2em 0;">

<img src="/images/people.png" style="width: 100px; border-radius: 100px; margin: 2em 2em 5em 0;" align="left"> 

<h2>Want to request a lead?</h2>
<p>
If you aren't seeing something that you'd like to see, you can request it the button below. You'll be taken to a  form where you can give me some specifications on what you'd like to see and I'll do my best to include it for you in the next email .<br><a href="http://wufoo.com" class="button">Request lead</a>
</p>

</div>

<div style="display: table; margin: 0 0 1em 0;">
	<a href="#">
		<div class="guide" style="background-color: #E44727; color: #FFF;">
			Get started in Workshop mini-guide &#8594;
		</div>
	</a>
	<a href="#">
		<div class="guide" style="background-color: #7191bc; color: #FFF;">
			30-second cold email checklist &#8594;
		</div>
	</a>
	<a href="https://www.letsworkshop.com/advice">
		<div class="guide" style="background-color: #ffe672; color: #a76e00;">
			Answer your freelancing questions &#8594;
		</div>
	</a>
	<a href="#">
		<div class="guide" style="background-color: #9e9890; color: #FFF;">
			Live freelancer discussion &#8594;
		</div>
	</a>
</div>

<hr>

<p class="small" style="margin: 1em 0 2em 0;">
<a href="<%= edit_user_registration_url(only_path: false) %>">Update your account settings</a><br>
</p>

</div>
</body>
</html>
