<html lang="en"> 
<head>
	<%= render 'worker_mailer/worker_mailer_css' %>
</head>

<body>
	<center>
		<%= image_tag("consulting-leads.png", :id => "banner" ) %>
	</center>

	<p>Hey there,</p>
	<p>I just had this lead come in that you might be interested in. It came in exclusively through Workshop so the project isn't something you'll find anywhere else and it's only being sent out to my list so it's low competition. Here's the info:</p>


	<p class="update-account"><a href="<%= edit_user_registration_url(only_path: false) %>">Update your account</a></p>
</body>
</html>


	