<div class="payment-errors"></div>

<table style="width:100%;">			
	<tr>
		<td colspan="2">
			<h4 style="margin-bottom:0px">Card Number
			  <% unless number_required %>
				  <small><em>(leave blank if you don't want to change it)</em></small>
			  <% end %>
			
			</h4>
			<input type="text" placeholder="**** **** **** ****" data-stripe="number" id="number" pattern="[\d \*" />
			<p class="error-message" id="card-error" style="color:red;display:none;"></p>
		</td>
	</tr>

	<tr>
		<td style="vertical-align:top;">
			<h4 style="margin-bottom:0px">CVC</h4>
			<input type="text" placeholder="***" style="width:100px; display:inline-block;">
			<%= image_tag("credit.png", :style => "width: 50px; vertical-align: middle;") %>
			<p class="error-message" id="cvc-error" style="color:red;display:none;"></p>
		</td>
		<td style="vertical-align:top;">
			<h4 style="margin-bottom:0px">Expiration date</h4>
			<input type="text" placeholder="MM" style="width:100px; display:inline-block;" size="2" id="exp-month" data-stripe="exp-month" pattern="\d*"/>
			<span> / </span>
			<input type="text" placeholder="YYYY" style="width:100px; display:inline-block;" size="4" id="exp-year" data-stripe="exp-year" pattern="\d*"/>
			<p class="error-message" id="exp-error" style="color:red;display:none;"></p>
		</td>
	</tr>
</table>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
	$(function(){
	  Stripe.setPublishableKey('<%= Rails.configuration.stripe[:publishable_key] %>');
	});
</script>
<script type="text/javascript">
	$('#number').parents('form').submit(function(event) {
	  <% if number_required %>
		  var form = $(this);
		  form.find('.error-message').hide();
		  form.find('#form-submit').prop('disabled', true);
		  Stripe.createToken(form, stripeResponseHandler);
		  return false;
	  <% else %>
		  if ($('#number').val().length > 0) {
			  var form = $(this);
			  form.find('.error-message').hide();
			  form.find('#form-submit').prop('disabled', true);
			  Stripe.createToken(form, stripeResponseHandler);
			  return false;
		  }
	  <% end %>
	});	
	function stripeResponseHandler(status, response) {
	  var form = $('#number').parents('form');
	  if (response.error) {
		  if (response.error.param == 'exp_month') {
			form.find('#exp-error').text(response.error.message).show();
		  } else if (response.error.param == 'exp_year') {
			form.find('#exp-error').text(response.error.message).show();
		  } else if (response.error.param == 'number') {
			form.find('#card-error').text(response.error.message).show();
		  } else {
			form.find('.payment-errors').text(response.error.message);
		  }
		  form.find('#form-submit').prop('disabled', false);
	  } else {
		var token = response.id;
		form.append($('<input type="hidden" name="stripeToken">').val(token));
		form.get(0).submit();
	  }
	}
</script>

