<h1 class="text-grey-darkest mt-4 font-light font-display text-3xl mb-4">
  Create a short bio
</h1>

<trix-editor input="user_biography"></trix-editor>

<%= f.hidden_field :biography, placeholder: "I'm...", data: { max_characters: 200 } %>
