<div style="margin: 2em auto 0; width:600px; /*background: yellow;*/">
	<p style="line-height:1;">Tell me about yourself<br>
	<small>Include a quick bio on what you do and something interesting about you.</small></p>
	<%= f.text_area :biography, placeholder: "I'm...", data: { max_characters: 200 }, :style => "max-width: 100%; width:100%; display: block;"  %>
</div>
