<h1 class="text-grey-darkest mt-8 font-light font-display text-5xl mb-2">Howdy! Introduce yourself...</h1>

<p class="text-grey-darker text-2xl mb-4">What do you do? What's something about you that's interesting?</p>

<trix-editor input="user_biography"></trix-editor>

<%= f.hidden_field :biography, placeholder: "I'm...", data: { max_characters: 200 } %>