
<div style="margin: 5em 0 3em;">
<p style="text-align:center;"><strong>Happy May <% if admin_signed_in? %><% else %><%= first_name current_user.name %><% end%>! What would you like to do today?</strong></p>

<p class="next-step"><%= link_to "See Recent Leads", leads_path %></p>

<p class="next-step"><%= link_to "Search All Leads", leads_path(advanced: true) %></p>

<p class="next-step"><a href="/favorites">Go to Your Follow-up List</a></p>

<p class="next-step"><a href="/users/edit">Update Your Settings</a></p>

<p class="next-step"><%= link_to "Log out", destroy_user_session_path, method: :delete %></p>
</div>