
<html lang="en"> <!--<![endif]-->
<head>
<style>
@media screen and (max-width: 600px) {
    body { font-size: 12px;}
}
html, body, div {max-width: 100%;}
body {color: #444; font-size:14.5px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; width: 55em; max-width: 100%; margin: auto;}
h1,h2,h3 {color: #111;}
h3 a {color: #111; text-decoration: none;}
p {color: #9f9d99; }
hr {height:1px; background-color: #D9D3CF; outline: none; border: none;}
a {color: #7191bc; display: inline-block;}
a:hover {color: #111;}
a:visited {color: #7C3B7D;}
.head {width: 100%; display: table; overflow: none;}
.head p, .head img {padding: 10px;}
.head p {float: right; font-size: .78em;}
.leads {padding: 15px; display: table; width: 100%; box-sizing: border-box; max-width: 100%;}
.category-wrap {display: table; margin: 2em 0; width: 100%;}
p.category { color: #111; font-size: .78em; font-weight: 900;}
.lead { display: table; width: 100%; max-width: 100%; margin-top: 1em;}
.url { font-size: 1.25em; display: inline;}
.email { height: 1.5em; color: #444; font-weight: 700; font-size: 1em; border: 1px solid #D9D3CF; border-bottom: 2px solid #D9D3CF; padding: .0em .4em; border-radius: 3px; text-decoration: none; display: inline-block;}
.photo-wrap {width: 40px; height: 40px; border-radius: 40px; margin: 0 .75em 0 0; float: left; background-color: #FFF;}
.photo-wrap img {width: 40px; height: 40px; border-radius: 40px;}
.description {margin-top: 0em; font-size: .84em;}
.exclusive { background-color: #f5f3f0; border-radius: 5px;  padding: .5em .5em;}
.exclusive h3 {margin: 0; line-height: 1.4em; font-size: 18px;}
.exclusive p {line-height: 1.4em; color: #444; margin: 1em 0;}
.exclusive strong {color: #B72A22; font-size: 13px;}
.exclusive span { width:100%; font-weight: bold; font-size: .8em; color: #B72A22; margin: .5em 0;}
</style>
</head>
<body>

<div class="head">
	<%= image_tag "logo.png", alt: "Workshop" %>
<p><a href="http://workshop.groupbuzz.io/topics">My discussion community</a> | <a href="http://letsworkshop.com/account">My account</a></p>
</div>

<div class="leads">
<hr>
<!--Doesn't change--> 
<%= render 'lead_render' %>
</div>
<hr>
<p style="font-size:0.8em; text-align: center;">
<p style="font-size:0.8em;"><unsubscribe style="color: #aaa;">Stop receiving emails</unsubscribe> (this won't cancel your subscription).</small></p>
</body>
</html>


