<div class="course-form">
	<h1 style="color: #FFF; font-size: 45px; margin: .75em 1em 1em; padding: 0; text-align: center; font-weight: 0; text-rendering: optimizeLegibility;">Get 10 freelance leads right now.</h1>


<div class="course-description">
	<h2>Enough with feast or famine.</h2> 
	<p>You're in and out of dry spells because you don’t have time to find new work, so how are you supposed to end the cycle?</p>

	<p>There’s a better way. Dry spells aren’t <em>supposed</em> to happen. You can fill up your pipeline months in advanced and never worry about where your next project will come from again.</p>

	<p>I'll help by sending you 10+ high quality freelance leads that are looking to hire someone like you. You’ll also get a trusted system for finding, emailing, and winning work absolutely free.</p>
</div>

<form class="drip-opt-in free-course-signup" action="https://www.getdrip.com/forms/9298754/submissions" method="post" target="_blank" data-drip-embedded-form="1306">

<h2>Let's build your freelance consulting pipeline.</h2>
<br>
	<input type="name" class="sample" name="fields[name]" value="" placeholder="Your name" /><br>
<input type="email" class="sample" name="fields[email]" value="" placeholder="Your email" /><br>
<input type="submit" name="submit" value="Show me my future clients" data-drip-attribute="sign-up-button" style="margin:.75em 0 0 0;"/>


<blockquote>
<p><em>“I used your tips and landed gigs in less than 2 weeks and am currently in talks with 3 more!” – Glori Surban, Designer</em></p>
</blockquote>
</form>

</div>