<div class="navigation">
		<div class="resources">
			<div>
			Your Business:<br>	
				<a href="/advice">Answers to your biggest questions about freelancing</a><br>
				<a href="/freelance-tools">Find the best tools for freelancers on the web</a><br>
				<a href="http://emailsthatwin.com">Send emails that win you clients</a><br>
				<a href="http://inwheelhouse.com">Productize your consulting</a><br>
				<a href="/connect">Find a freelancer for free</a><br>
				<a href="http://knowingwhattosay.com">Read my articles</a><br>
			</div>			
			<div>
			Support:<br>
				<a href="#success">Success stories and customers who kick ass</a><br>
				<a href="/using-job-boards">Find new work every month on your own</a><br>
				<a href="/help">Help with Workshop</a><br>
				<a href="MAILTO:robert@letsworkshop.com">Contact me</a><br><br>
				<a href="#buy" class="signup"><strong>Show me my future clients now.</strong></a>
			</div>
		</div>
</div>
