
<div class="wrap w860 nav-border">
	<%= render "layouts/top_menu" %>
</div>

<div class="wrap w600" style="padding: 2em 0 0;">		
	<%= link_to image_tag('rob-passport.png', :style => "border-radius: 80px; width: 80px; margin:1em auto; display: block;"), url_for(root_path) %>
	
	<h1 style="text-align:center;">Hi! I'm Rob!</h1>
	
	<p>Folyo (the site you're on) is a platform I built for you to find freelancers and clients you'll love to work with. It's where you should start your next project.</p>
 
	<p>See, this site was born out of two realizations: first, as a successful freelance designer, I didn't know where to refer clients when I couldn't accept their project.</p>
	
	<p>Second, I realized many companies had a hard time finding quality freelancers on their own. Most options (like job boards) are inadequate, and leave you sorting through piles of spam.</p>

	<p>So I decided to do something about it.</p>

	<p>Folyo is here to help you do project that will result in the best work of your life. Try it out today, it's free!</p>

	<h2>Get in touch</h2>
	<p>You can email us at <a href="MAILTO:hello@folyo.me">hello@folyo.me</a>.</p>
	
	<p><small>Folyo was originally founded by Sacha Greif in September, 2011.</small></p>
</div>


<div class="wrap w860">
	<%= render "layouts/footer_menu" %>
</div>