<div class="content">
<% content_for :title, "Your biggest questions about freelancing, answered." %>
<script>
$(document).on('click','.searchbychar', function(event) {
    event.preventDefault();
    var target = "#" + this.getAttribute('data-target');
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 2000);
});
</script>

<p style="position: fixed; top: 1em; right: 1em; font-size: 12px; display: table;"><a class="twitter-share-button"
   href="https://twitter.com/share"
  data-url="http://letsworkshop.com/advice"
  data-via="letsworkshop"
  data-text="Your biggest freelancing questions answered in one place"
  data-related="letsworkshop"
  data-count="horizontal">Tweet</a>
</p>

<div class="book-cover">
<h1>This is a complete guide to finding and winning better freelance work online created by top consultants from all over the web.</h1>
<h2><a href="http://letsworkshop.com">by Workshop</a> • <a href="https://letsworkshop.com/freelancing">Get Email Updates</a></h2>
</div>

<hr>


<% @faqs.group_by(&:category).each do |category, faqs| %>
	<h3 class="topic-section"><%= category %>:</h3>
	<ul class="topic-list">
		<% faqs.each do |faq| %>
			<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	  <% end %>
	</ul>
<% end %>


</div>
