<div class="content">
<% content_for :title, "Your biggest questions about freelancing, answered." %>


<!-- Twitter code -->
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>

<script>
$(document).on('click','.searchbychar', function(event) {
    event.preventDefault();
    var target = "#" + this.getAttribute('data-target');
    $('html, body').animate({
        scrollTop: $(target).offset().top
    }, 2000);
});
</script>

<p style="position: fixed; top: 1em; right: 1em; font-size: 12px; display: table;"><a class="twitter-share-button"
   href="https://twitter.com/share"
  data-url="http://letsworkshop.com/advice"
  data-via="letsworkshop"
  data-text="Your biggest freelancing questions answered in one place"
  data-related="letsworkshop"
  data-count="horizontal">Tweet</a>
</p>

<div class="book-cover">
<h1>The complete freelancer's guide to finding and winning better client work online.</h1>
<h2><%= link_to "by Workshop", root_path %> • <%= link_to "Get Email Updates", freelancing_path %></h2>
</div>

<hr>


<% @faqs.group_by(&:category).each do |category, faqs| %>
	<h3 class="topic-section"><%= category %>:</h3>
	<ul class="topic-list">
		<% faqs.each do |faq| %>
			<li><%= link_to faq.question, faq_path(faq), :class => "topic-chapter" %></li>
	  <% end %>
	</ul>
<% end %>


</div>
