<div class="wrap w400">
	
		<%= link_to image_tag('folyo.png', :class => "logo"), url_for(root_path) %>
		
		<h1 style="text-align:center;"><%=image_tag '1f488.svg', :style => "width:40px;", :align => "left" %> We're relaunching...</h1>
		<p>Need a freelancer? Want to be featured on the new site when we launch?</p>
		<%= link_to 'Get featured', new_subscription_path, :class => "button" %>
</div>