<section class="loose-wrap webinar" style="width: 800px;">

	<h1 style="text-align: center;padding: 0em 0 .5em;">How to Write Emails That Win You Client Work</h1>
	<hr>
	
	 <div style="float:right; width: 330px; padding: 0 ">
	<form action="https://www.getdrip.com/forms/8865505/submissions" method="post" target="_blank" data-drip-embedded-form="8865505" style="margin: 2em 0; border: 1px solid #f1f1f1; padding: .1em 2em; border-radius: 5px; box-shadow: 0px 2px 10px #f2f1ef; ">

		<center>
	  <h3 data-drip-attribute="headline">Register now to receive a personal invitation.</h3>
		
				<center><%= image_tag("people.png", :id => "top", :style => "margin: 0em 0 -1em; width: 150px;") %></center>
	  <p data-drip-attribute="description"></p>
    <div>
      <input placeholder="Your name" type="text" name="fields[name]" value="" />
    </div>
	    <div>
	      <input placeholder="Your email"  type="text" name="fields[email]" value="" />
	    </div>
	
			<blockquote>
			<p style="font-size: 13px; text-align: left;">“When I first started out freelancing I was sending out long emails. After getting some feedback from Robert I learned the key elements needed to increase my response rate by over 10%!” - Brunson Sayes</p>
			</blockquote>
	
	  <div>
	    <input type="submit" name="submit" class="buy" value="Reserve my spot" data-drip-attribute="sign-up-button" />
	  </div>
			<p style="font-size: 11px; margin: -1em 0 2em 0; color: #888;">This free presentation is one-day only event. </p>
	</center>
	</form>
	<h2>Your hosts:</h2>
	<%= image_tag("joanne.png", :style => "width:50px; border-radius: 5px; margin: 1em 0 0;") %>
	<p><strong>Joanna Weibe</strong><br>Creator of Copyhackers, Disco, and over 10+ successful products and services, including 10+ years consulting.</p>
	<%= image_tag("rob.png", :style => "width:50px; border-radius: 5px; margin: 1em 0 0;") %>
	<p><strong>Robert Williams</strong><br>Creator of Workshop, author of Emails that win you clients and starter of successful web design consultancy.</p>
	
	</div>
	
	<div style="width: 400px; padding-bottom: 2em;">

	
	<h2>Discover how you can write emails that:</h2>

	<ul>
	<li>Get read and <strong>avoid the spam folder</strong>.</li>
	<li>Compel clients to respond and <strong>address real needs</strong> they will pay you to work on.</li>
	<li>Get the conversation going <strong>quickly, naturally</strong> and be <strong>insanely interesting</strong>.</li>
	<li>Above all else, emails you know <strong>are damn good</strong> at <strong>winning you work</strong>.</li>
	</ul>

	<h2>Thursday, March 5th, at 2:00pm EST (11:00am PST)</h2>

	<p>New clients don’t just fall into your lap. Winning freelance copywriting work can feel like an endless cycle of proposals, follow ups, and tedious emails. You spend most of your trying to land work instead of actually doing work. Despite your best efforts, you’re still not lining up enough new business.</p>

	<p>Still, you know you could help a ton of businesses make more money. Everyday you see websites and companies you know you could help. Atrocious copywriting is all over the place, and yet you can’t find work. </p>

	<p>You sit back and think, if only they had someone like me to work on their copy, it would really help their business. </p>

	<p>Guess what? They want your help too. They want the results your skills would bring them. The only thing standing between you is the way you reach out to people, your emails. Most freelancers make the same mistakes:</p>

	<ul>
	<li>They <strong>blab on</strong> for too long.</li>
	<li>They talk like <strong>robots</strong>.</li>
	<li>They sound <strong>scammy</strong>.</li>
	<li>They offer nothing <strong>compelling</strong>.</li>
	</ul>

	<p>But imagine if you could write great emails at will. What if you knew the exact formula for writing an email to a client that made them open up their wallet and pay you money. </p>

	<p>Yes, you can write emails that win you clients. You can hear back from most emails you send, even cold emails. You can create a system for finding work that no one can take away from you. </p>

	<p>Think about it. If you knew how many potential clients you had to reach out to to garuantee client work, you would never have to rely on referrals again. You would never have to market yourself passively again. You would never have to sit and wait for work to come to you again. </p>

	<p>Instead, you would be in control. You would be the key to opening the flood gates of client work. </p>

	<p>You could dominate freelancers set in their old ways and leap frog years of toiling away trying to build a client base by just avoiding a few common mistakes. </p>

	<h2>Here’s what we’re going to cover:</h2>

	<ul style="font-size: 14px; margin: 2em;">
	<li style="margin:.75em 0;">How to write crisp, compelling emails that win you more freelance work in less time.</li>
	<li style="margin:.75em 0;">How to keep your email out of the trash.</li>
	<li style="margin:.75em 0;">What not to say at the beginning of your email.</li>
	<li style="margin:.75em 0;">How to ensure people enjoy reading what you write.</li>
	<li style="margin:.75em 0;">The fastest way to win over a client.</li>
	</ul>

	<p>Even if you’ve never freelanced before or have no plans to start freelancing, sending great emails can unlock a pathway to a better career. Think about how many emails you send. What would it mean to your career if you could improve this skill by even 5%? It would mean winning more client work, befriending more people you admire, and getting more coworkers to support your best ideas. If you want to arm yourself with a skill that determines so much of your future. Sign up now. </p>

	<blockquote>
	<p>“Robert gave me some tips on my cold email to a tech entrepreneur in Silicon Valley who recently sold his business to Yahoo! At first, all my sentences started with “I”, “Me”, “My”. Then Robert showed me how to change that around to “You” and “Your” and made me realize that all the person receiving your email really cares about is “themself”, nothing else. The result: an email response within a few hours.” – Chris Von Wilpert</p>
	</blockquote>

	<p>This free presentation is one-day only event.</p>


	</div>
	
</section>