<section class="loose-wrap">

	<%= render 'courseoptin' %>


<h1>After you get the leads, you'll start my free 9-day course on building an automated freelance client pipeline.</h1>


<!--
<div class="course-rules">
	<h2>Lesson 1: The Cold-email Checklist.</h2>
	<hr>
	<p>I looked at over a thousand freelance outreach emails and created 6 principles that will allow you to maximize the response rate on the emails you send.</p>

</div>

	<div class="course-rules">
	<h2>Lesson 2: The Endless Lead Generator.</h2>
	<hr>
	<p>If you run a freelance business you should be emailing 1–5 new prospects per day. This is hard to do when you don’t know who to email. Instead of contacting cold prospects, use my endless lead generator to find clients ready to pay you thousands. It's how I find over 2400+ leads for freelancers every year. 

	</div>
	

	<ul>
	<li>ten real people who can hire you</li>
	<li>how I find job leads for hundreds of freelancers</li>
	<li>exactly what to say to clients</li>
	<li>deleted my portfolio</li>
	</ul>	If you run a freelance business you should be emailing 1–5 new prospects per day. This is hard to do when you don’t know who to email or what to say. That’s why I looked at over a thousand freelance outreach emails and created the cold-email checklist. That will allow you to write a great email in minutes and is only available with this course.

		. Sign up here and I’ll send it to you, along with a special free gift – worth thousands.When you’re in a dry spell it can seem like there’s no end in sight. That leads to try dozens of marketing tactics that yield no results. What you really need to do is just focus on one small action that can result in work. We’ll walk through exactly how to find people to contact everyday. Ideal clients who are worth hundreds of thousands in consulting work.</p>

	<ul>
	<li>ten real people who can hire you</li>
	<li>how I find job leads for hundreds of freelancers</li>
	<li>exactly what to say to clients</li>
	<li>deleted my portfolio</li>
	</ul>
.  only available with this course. Sign up here and I’ll send it to you, along with a special free gift – worth thousands.When you’re in a dry spell it can seem like there’s no end in sight. That leads to try dozens of marketing tactics that yield no results. What you really need to do is just focus on one small action that can result in work. We’ll walk through exactly how to find people to contact everyday. Ideal clients who are worth hundreds of thousands in consulting work


-->

	<div class="course-rules">
		
		
<h2>Rule 1. Contact a new lead everyday.</h2>

<p>It’s hard to email someone when you don’t know who to email or what to say. Instead of trying to come up with something from scratch, pull words from your prospects mouth’s and write something compelling they’ll respond too every time. I’ve made it easy with an array of toolkits to write a great email in minutes. Yea, it’s still a numbers game… but when you’re a freelancer that number is 1. You only need to optimize for one to one: you and your client.</p>

<ul>
<li>avoid client repellent</li>
<li>send emails that win you clients</li>
<li>cold email checklist</li>
<li>how to 3x a client’s budget</li>
<li>how to get great feedback</li>
</ul>

</div>

	<div class="course-rules">
		
		
<h2>Rule 2. Always put yourself in the client’s shoes.</h2>

<p>It’s hard to email someone when you don’t know who to email or what to say. Instead of trying to come up with something from scratch, pull words from your prospects mouth’s and write something compelling they’ll respond too every time. I’ve made it easy with an array of toolkits to write a great email in minutes. Yea, it’s still a numbers game… but when you’re a freelancer that number is 1. You only need to optimize for one to one: you and your client.</p>

<ul>
<li>avoid client repellent</li>
<li>send emails that win you clients</li>
<li>cold email checklist</li>
<li>how to 3x a client’s budget</li>
<li>how to get great feedback</li>
</ul>

</div>

<div class="course-rules">
<h2>Rule 3. Line up work 3–6 month’s into the future.</h2>

<p>Most of us think dry spells come when we don’t have work, but the real culprit is not preparing when we DO have work lined up. Don’t assume that if you have a project in the pipeline you don’t need to do anything else. That’s actually when it’s key to stay active in your search. Getting started by emailing one or two leads every day is the hardest part about Workshop but will prove to be a great way to build your sales funnel even if you’re already booked for the next few weeks.</p>

<ul>
<li>keep doing rule 1 even when you land a client</li>
<li>a collection of advice from experienced freelancers</li>
</ul>

</div>

<div class="course-rules">
<h2>Rule 4. Make following up automatic</h2>

<p>All of this process can take a lot of bandwidth. You’re busy running a consultancy after all, and you can’t imagine doing even more on top of all of this. So I’ve collected some of the best ways to put these things on auto-pilot for you and make it a system that runs on its own. This quick daily activity means that over time opportunities will come back around and you’ll have an overflow of client work that can have you booked for weeks or months in advanced. That kind of assurance allows you to sleep great at night instead of stressing over your business.</p>

<ul>
<li>steli’s book</li>
<li>productized consulting</li>
<li>the magic email</li>
</ul>

</div>


<h1>“I’m tired of dry spells and feast or famine freelancing. I’m ready to build a more stable freelance business.”</h1>

<p>Your name</p>

<p>Your email</p>

<p>Send me my future clients</p>

<p>You’ll get ten pre-qualified, real leads and an actionable course on how to land them. </p>

</section>
