<section class="loose-wrap" style="margin: 5em auto;">	
	<h1>How to use job boards to win freelance work every month</h1>
	<p>In 2013 I started <a href="http://letsworkshop.com">a service that finds hundreds of freelance leads</a>. Freelancers and consultants rely on my leads to earn hundreds of thousands every year. These are leads you can find on your own for free in your own time. Here's how:</p>
	
<ol style="margin: 0;">
	
	
	<li><h2>Download my <a href="http://www.letsworkshop.com/downloads/endless_clients_cheatsheet.opml">Endless Lead Generator</a> and plug it into your favorite RSS reader.</h2>
	
	<p>This file comes pre-loaded with a huge chunk of job boards that I've collected over years. It's an OPML file so all you need to do is import into an RSS reader and you can instantly monitor almost every job board that houses freelance leads. I recommend starting with established job boards like Authentic Jobs and Behance.</p>
	
	</li>


	<li><h2>Open up your <a href="http://feedly.com">RSS reader</a> and pick the low-hanging fruit first.</h2>
	
	<p>Getting started is half the battle. Don't think you have to email as many people as possible every day. Instead, be consistent about contacting 1 or 2 every day. This will take minutes and you’ll have a constant flow of warm prospects coming into your inbox.</p>
	
	<p>Remember that ultimately it’s a numbers game, and burning out by contacting a billion leads on your first day won't produce great results. Pick the 1 or 2 low-hanging, most desirable projects to go after and contact them immediately. Later you can go back if you have time.</p> 
	
	<p>If you open up feedly and see one or two project you'd like to work on, contact those before moving on.</p></li>
	
	<iframe width="100%" height="350" src="https://www.youtube.com/embed/7hHlh3yKUp0" frameborder="0" allowfullscreen></iframe>
	
	<p class="help-note"><strong>Pro-tip:</strong> Use additional search criteria when available, terms like ‘remote’ and ‘freelance’ will skip all the location-specific or full-time listings.</p>
	
	<li><h2>Find niche job boards that apply to your specialty</h2>
		
	<p>Some job boards don’t offer an RSS feed. This means you have to go through the site by hand. This can get time consuming if you’re not familiar with where each job board keeps important details like location preference, budgets, and project type. Building up a familiarity with these niche job boards takes time, but there are so many new job boards popping up that there are constant opportunities to land work. Don't look for ideal clients, instead look for people that need a problem solved.</p>

	<p><strong>Here's some examples of niche job boards:</strong></p>
	
	<ul>
	<li><a href="https://hn.algolia.com/?query=seeking%20freelancer&sort=byPopularity&prefix&page=0&dateRange=all&type=story">Hacker news seeking freelancer threads</a></li>
	<li><a href="https://larajobs.com">LaraJobs for PHP, Laravel jobs.</a></li>
		<li><a href="http://djangojobbers.com/">Django jobbers</a></li>
		<li><a href="http://www.railsjobs.com/">Rails Jobs</a></li>
	</ul>
	
	<li><h2>Hack Google search</h2>
	<p>Google indexes a ton of opportunities that you can find by tweaking a few search settings. For example, if you’re interested in responding to RFP’s, search: “RFP website design development filetype:PDF” this will only show PDF documents. Further, you can set your search range to the “past week” to only get recent results. There’s no limit to the amount of links you’ll find on google, so getting specific with keywords, budget, search options, and anything else you can is really going to help.</p>
	
	<p><a href="https://www.google.com/search?q=RFP+website+design+development+filetype:PDF&num=50&safe=off&es_sm=91&biw=1521&bih=1080&source=lnt&tbs=qdr:w&sa=X&ei=mAUSVZ-hIYjToATr0IDACA&ved=0CBQQpwU">Here's what a google search with those settings looks like.</a>
	</li>
	
	<li><h2>Use twitter effectively</h2>
	<p>Thousands of people turn to twitter when looking for help on projects. The key to sorting through the multitudes of tweets out there is finding keywords people use when tweeting out for help. However, searching through all the clutter on twitter can take hours and you probably wont find very much via their default search. Instead, use a service like <a href="http://topsy.com/">Topsy</a> to customize your search more effectively. In addition to using words like freelance, design, and development - add words like “email” (to find people who leave behind an email address). Follow up with them over email instead of just on twitter.  You can also set reminders and notifications via google alerts or tweetdeck.</p> 



	


	<li><h2>Once you have your email written, make sure it follows a few things:</h2>
	<table class="checklist">

	<tr>
		<td class="check">
			<span style="color: green;">&#10004;</span>
		</td> 
		<td>
			<img src="images/subject.png" alt="Click display images to see this picture" style="margin-right: 1em; min-width: 225px; width: 100%; border-radius: 5px;">
		</td>
		<td style="padding: 0 0 0 1em;">
			<h3>The subject line should be so specific it could only be sent to one person in the world.</h3> 
			<p>This will make sure your email gets opened because busy people look to remove spam first.</p>
		</td>
	</tr>

	<tr>
		<td class="check">
			<span style="color: green;">&#10004;</span>
		</td>
		<td>
			<img src="images/length.png" alt="Click display images to see this picture" style="margin-right: 1em; min-width: 225px; width: 100%; border-radius: 5px;">
		</td>
		<td style="padding: 0 0 0 1em;">
			<h3>The length of a cold email should be under 120 words.</h3> 
			<p>Busy people don't have time to read much. Make it simple, crisp, and get to the point.</p>
		</td>
	</tr>


	<tr>
		<td class="check">
			<span style="color: green;">&#10004;</span>
		</td>
		<td>
			<img src="images/value.png" alt="Click display images to see this picture" style="margin-right: 1em; min-width: 225px; width: 100%; border-radius: 5px;">
		</td>
		<td style="padding: 0 0 0 1em;">
			<h3>Your email should provide something of value.</h3> 
			<p>Would you be happy to receive this email, even if you had no intention of hiring someone? Delivering advice or tips is an easy way to show you're on the client's side.</p>
		</td>
	</tr>
	
	<tr>
		<td class="check">
			<span style="color: green;">&#10004;</span>
		</td>
		<td>
			<img src="images/social.png" alt="Click display images to see this picture" style="margin-right: 1em; min-width: 225px; width: 100%; border-radius: 5px;">
		</td>
		<td style="padding: 0 0 0 1em;">
			<h3>Don't include links to your social media or portfolio.</h3>
			<p>A prospective client doesn't really care about your work... at least not yet. The only point of this first email is to get them to reply so making them click on your website, linkedin profile or portfolio doesn't help you.</p>
		</td>
	</tr>
	
	
	<tr>
		<td class="check">
			<span style="color: green;">&#10004;</span>
		</td>
		<td>
			<img src="images/clarity.png" alt="Click display images to see this picture" style="margin-right: 1em; min-width: 225px; width: 100%; border-radius: 5px;">
		</td>
		<td style="padding: 0 0 0 1em;">
			<h3>It should be easy to find the point of your email.</h3>
			<p>Someone using a job board probably has a lot of email responses and is more likely to scan and look for the next step. Make that part of your email easy to find. Bold it if you have to.</p>
		</td>
	</tr>

	<tr>
		<td class="check">
			<span style="color: green;">&#10004;</span>
		</td>
		<td>
			<img src="images/reply.png" alt="Click display images to see this picture" style="margin-right: 1em; min-width: 225px; width: 100%; border-radius: 5px;">
		</td>
		<td style="padding: 0 0 0 1em;">
			<h3>The end of your email should be easy to reply to in seconds.</h3>
			<p>You don't want to give a busy lead more work. If the lead can say "sounds good" you're probably on the right track.</p>
		</td>
	</tr>
	</table></li>
	
	
	
<li><h2>Put all the outreach emails you send in a folder and follow up in a few weeks using the magic email</h2></li>
	
	<p>It's not always best to reply to a job post right away because you get lumped in with the masses. To truly get the most out of this system make sure you follow up in a few days or weeks. Use <a href="http://themagicemail.com">the magic email</a> to get a response 90% of the time. This is what you send:</p>
	
	<blockquote>
		Since I have not heard from you on this, I have to assume your priorities have changed.
	</blockquote>
	
	<p>Using the steps outlined above you can generate steady client work just using job boards. 1-on-1 outreach is powerful because you don't have to rely on outside forces to win work.</p>
	
	</ol>

</section>

