<html>
<head>
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/7135732/681246/css/fonts.css" />
<style>
body { font-family: 'Sentinel SSm A', 'Sentinel SSm B', Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif; font-size: 17px; background: -webkit-linear-gradient(#F8F8FA, #FFF); background: -o-linear-gradient(#F8F8FA, #FFF); background: -moz-linear-gradient(#F8F8FA, #FFF); background: linear-gradient(#F8F8FA, #FFF);}
.snowflakes { margin: -1.5em 0 0 0; background-size: 1000px;  background-image: url("/assets/snowflakes.png"); background-repeat: repeat-x; }
.reading-wrap { width:43em; margin: 0 auto; padding: 4em 0; max-width: 100%; }
.tools {margin: 0 0 4em 0;}
h1, h2, h3 {margin: .25em 0; color: rgba(25, 25, 58, 1); font-weight: 800;}
h1 {font-size: 260%;}
h1::selection, p::selection { background: #fff9e5; } h1::-moz-selection, p::moz-selection  { background: #fff9e5;}
h2 {font-size: 100%; margin: 3em 0 1em 0;}
p {margin: 1em; color: #9f9d99; line-height: 1.5em;}
hr {outline: none; border: 0; height: 1px; background-color: #e7e6f7; }
ul { background-color: #FFF; list-style-type: none; padding: .25em; box-shadow: 0px 0px 20px #F8F8FA; }
a {color: #8FC1EA; }
a:visited { color: #73718D;}
a:hover { color: #448DC8; }
li:first-child {border-top: none;} li:last-child {border-bottom: none;}
li { border-bottom: 1px solid #e7e6f7;  padding: 1em; }
li p {white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: #e7e6f7; margin: 0; line-height: 1.25em;}
@media (max-width: 1000px) { body {font-size: 13px;} }
@media (max-width: 475px) { body {font-size: 11px;} }
</style>
<script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<section class="snowflakes">
<section class="reading-wrap">
<center>
<h1>Freelance tools to use in 2015</h1>
<p>Don't you wish you saved all those helpful freelancing links you saw in 2014? Well... I did! Here's the the best stuff to use in the new year.</p>
<p><a class="twitter-share-button"
   href="https://twitter.com/share"
  data-url="http://2015freelancetools.com"
  data-via="letsworkshop"
  data-text="Great stuff for freelancers to use in 2015"
  data-related="letsworkshop"
  data-count="horizontal">Tweet</a>
</p>
</center>

<section class="tools">
<hr>
<h2>2014: The Year of Productized Consulting</h2>

<ul>
<li><p><a href="http://letsworkshop.com/freelance-as-a-service">Freelance as a service</a> ￫</p></li>
<li><p><a href="http://doubleyourfreelancing.com/3-great-examples-of-productized-consulting-services/">3 Great Examples Of Productized Consulting Services</a> ￫</p></li>
<li><p><a href="http://blog.folyo.me/the-5-dollar-logo/">The Five dollar logo</a> ￫</p></li>
<li><p><a href="http://www.barryclark.co/portfolio-examples/jad-limcaco/">How to design your portfolio to get hired</a> ￫</p></li>
<li><p><a href="https://medium.com/@brennandunn/the-freelancers-guide-to-recurring-revenue-b500f19a770a">The Freelancer’s Guide To Recurring Revenue</a> ￫</p></li>
<li><p><a href="http://curtismchale.ca/2014/07/24/how-do-you-bill-an-unscopeable-project/">How do you bill an unscopeable project?</a> ￫</p></li>
</ul>

<h2>Learning from the masters.</h2>

<ul>
<li><p><a href="http://okdork.com/2014/07/22/actions-techniques-to-go-from-0-to-your-first-1k-with-freelancing/">A (Proven) Freelancer’s Guide to Growing Your Business</a> ￫</p></li>
<li><p><a href="http://thecreativeclass.io/">The Creative Class</a> ￫</p></li>
<li><p><a href="http://www.webagencypodcast.com/043/">Productized Consulting – How Kurt Elster Turned A Struggling Startup Into a Successful Web Design Business</a> ￫</p></li>
<li><p><a href="http://aneventapart.com/news/post/design-is-not-an-investment">Design Is Not An Investment: An Interview With Mike Monteiro</a> ￫</p></li>
<li><p><a href="https://boagworld.com/working-in-web/our-secrets-for-success-working-with-clients-and-staying-current/">Our secrets for success, working with clients and staying current</a> ￫</p></li>
<li><p><a href="https://vimeo.com/104641191">Jeffrey Zeldman: 20 years of Web Design and Community</a> ￫</p></li>
<li><p><a href="https://vimeo.com/113751583">Aaron Draplin Takes On a Logo Design Challenge</a> ￫</p></li>
</ul>

<h2>Simplifying your freelance business.</h2>

<ul>
<li><p><a href="https://signalvnoise.com/posts/3752-its-ok-not-to-use-tools">It’s ok not to use tools</a> ￫</p></li>
<li><p><a href="http://jonas.do/writing/the-power-of-free-design/">The power of free design: why you should do pro-bono work (sometimes)</a> ￫</p></li>
<li><p><a href="https://knowyourcompany.com/blog/posts/21-what-to-remember-when-you-re-the-boss">What to remember when you’re the boss</a> ￫</p></li>
<li><p><a href="http://www.winwithoutpitching.com/say-what-you-think/">Say What You Think</a> ￫</p></li>
</ul>

<h2>Organizing your money and avoiding the lean times.</h2>

<ul>
<li><p><a href="http://www.youneedabudget.com/blog/2014/dont-hide-behind-my-rules-you-have-one-priority/">Don’t Hide Behind My Rules. You Have One Priority.</a> ￫</p></li>
<li><p><a href="https://quaderno.io/">Quaderno - Invoicing for Stripe</a> ￫</p></li>
<li><p><a href="https://bench.co/">Bench — Bookkeeping services for your business.</a> ￫</p></li>
</ul>

<h2>Free templates and tools to drop in today.</h2>

<ul>
<li><p><a href="http://markdowntemplates.com/business/value-based-fees-proposal-template/">Value-Based Fees Proposal Template</a> ￫</p></li>
<li><p><a href="http://themagicemail.com/">The Magic Email</a> ￫</p></li>
<li><p><a href="http://www.wedistill.io/">Curated HD Video Free For Your Personal and Commercial Use</a> ￫</p></li>
</ul>

<h2>Stuff you should’ve boughten already.</h2>

<ul>
<li><p><a href="http://www.abookapart.com/products/youre-my-favorite-client">You’re my favorite client</a> ￫</p></li>
<li><p><a href="http://justtelljulie.com/">What do you do when a client doesn’t pay? Just tell Julie</a> ￫</p></li>
</ul>
</section>

<center>
<h1>That's it for 2014.</h1>
<h2>Want to make finding freelance work 10 time easier in 2015?</h2>
<p>Sign up for <a href="http://letsworkshop.com">Workshop</a>, it's a newsletter I send out that has projects by people looking for freelancers from around the web.</p>
</center>

<hr>

<p>Powered by <a href="http://letsworkshop.com">Workshop</a></p>


</section>
</section>
</body>
</html>