
<div class="wrap w860 nav-border">
	<%= render "layouts/top_menu" %>
</div>

<div class="wrap w600" style="padding: 2em 0 0;">		
	<h1 style="text-align:center;">Why you need a photo to sign up</h1>
	
	<p>Most sites let you sign up without a photo. So why do we require one? Because it will make you more likely to succeed on the site.</p>
	
	<p>This site is about building trust. It’s about making a connection. A real human connecting with another to start a great project.</p> 
	
	<p>A picture of you will do more to build that connection and trust than almost anything else. So we make everyone use one. Leave the faceless, account-bot, default profile pic, mentality at the door.</p>
	
	<p>Humans are required on Folyo.</p>
</div>


<div class="wrap w860">
	<%= render "layouts/footer_menu" %>
</div>