<section class="nav tab">
<p style="text-align: right;"><%= link_to 'List your product', upload_path %> <%= link_to 'Find more freelance work', connect_path %></p>
</section>
<section class="loose-wrap" style="text-align: center;">
<h1>Hire People, Buy a Product</h1>
<p>Simple projects are a mess. Stop limiting your self Stopping messing with email back-and-forths, proposals, invoices, estimates, and undefined messes of a project. You just want a simple website. Find someone who created a product around that.</p>
</section>
<section class="loose-wrap">

	<a href="https://draft.nu/revise/" class="product_box">
		<div style="width:100%;">
			<%= image_tag("nick.jpeg", :style => "width:10em; border-radius: 10em; margin: 0 auto; border: 1px solid #f5f5f5; display: inline-block;")  %>
		</div>
		<p style="background-color: #f5f5f5;">Draft Revise by Nick Disabato</p>
		<h3>An A/B testing and UX consulting service for websites, billed monthly.</h3>
		<p>Currently full / sold out</p>
		<p>Starting at $3,999 / month</p>
	</a>

	<div class="product_box">
		<p style="background-color: #f5f5f5;">Shopify Website Rescue by Ethercycle</p>
		<h3>A shopify store redesign and conversion rate optimization service.</h3>
		<p>Delivered in seven days</p>
		<p>Starting at $2,480 / each</p>
		<p>http://websiterescues.com/</p>
	</div>

</section>