
<section class="loose-wrap">
	<center>
<h1 class="jumbo" style="margin: 3em 0 0;">Try Workshop risk-free for 30 days.</h1>
<h2 class="jumbo">If you're not blown away get a full refund.</h2>

<hr>


<div class="form" style="width: 500px; display: table; ">
<h2>So today’s the day! Welcome, clients are waiting.</h2> 
<p>You picked a great day to join Workshop. You probably are looking for clients right away. Workshop can help with that. Pick the type of leads you’re most interested in seeing from the list below, pay, and we'll get started filling up your pipeline.</p>

<h2>What's your email?</h2>
<input type="email" class="sample" name="fields[email]" value="" placeholder="Your email" />

<h2>What kind of leads are you looking for?</h2>

<select>
  <option value="volvo">Graphics</option>
  <option value="saab">Interaction</option>
  <option value="rails">Rails</option>
  <option value="audi">Marketing</option>
  <option value="volvo">Graphics</option>
  <option value="saab">Interaction</option>
  <option value="rails">Rails</option>
  <option value="audi">Marketing</option>
</select>

<br>

<a href="#"><input type="submit" name="submit" value="Show me my future clients" data-drip-attribute="sign-up-button"  style="margin: 2em 0;" class="buy"></a>

</div>

</center>

</section>



<h1>$99/month when paid monthly</h1>
<hr>
<h1>$69/month when paid annually</h1>
<hr>

<h4>"So what happens if I don't like it?"</h4>

<p>No worries. There's a 30-day 100% satisfaction guarantee. Enjoy Workshop for a full month after your free trial, and if you don't like it for any reason, send me an email and I'll give you a refund. I don't want your money if you're not 100% blown away.</p>
