

<section class="loose-wrap">
	<center>
	
		<%= image_tag("missing.png", :style => "margin: 1em 0 -2em; width: 120px;") %>
<h1 class="jumbo" style="margin: 1.5em 0 0; font-size: 250%;">Try Workshop risk-free for 30 days.</h1>
<h2 class="jumbo">If you're not blown away get a full refund.</h2>
</section>

<div class="reading-wrap pricing" style="max-width: 500px; margin: 0 auto 1em; display: table;">

		<!--<h2>So today’s the day! Welcome, clients are waiting.</h2> 
		<p>You picked a great day to join Workshop. You probably are looking for clients right away. Workshop can help with that. Pick the type of leads you’re most interested in seeing from the list below, pay, and we'll get started filling up your pipeline.</p>-->
		
		<form>
		
		<h4>What's your name?</h4>
		<input type="name" class="sample" name="fields[name]" value="" placeholder="Brennan Dunn" />
		<h4>What's your email?</h4>
		<input type="email" class="sample" name="fields[email]" value="" placeholder="Your email" />
		
		<br>

	
		
		<h4>What kind of work do you do?</h4>
		<table class="lead-category">
			<tr>
				<td style="vertical-align: top; padding:3px 0; width: 30px; height: 100%;"><input type="checkbox" name="graphics" value="graphics" checked></td>
				<td style="vertical-align: top;">
					<p style="margin: 0;">Graphics</p>
					<hr>
						<ul class="small" style="margin: .5em 0 0;">
							<li>Branding design</li>
							<li>Art Direction</li>
							<li>Logo design</li>
							<li>Packaging design</li>
							<li>Print design</li>
							<li>Illustration</li>
							<li>Infographics</li>
							<li>Animation design</li>
							<li>Email design</li>
						</ul>
					</p>
				</td>
				
				<td style="vertical-align: top; padding:3px 0; width: 30px; height: 100%;"><input type="checkbox" name="graphics" value="graphics" checked></td>
				<td style="vertical-align: top;">
					<p style="margin: 0;">Marketing</p>
					<hr>
						<ul class="small" style="margin: .5em 0 0">
							<li>Content Creation</li>
							<li>Conversion optimization</li>
							<li>Copywriting</li>
							<li>Search engine optimization</li>
							<li>Adwords</li>
						</ul>
					</p>
				</td>

			</tr>
			
				<tr>
				
				<td style="vertical-align: top; padding:3px 0; width: 30px; height: 100%;"><input type="checkbox" name="graphics" value="graphics" checked></td>
				<td style="vertical-align: top;">
					<p style="margin: 0;">Interaction</p>
					<hr>
						<ul class="small" style="margin: .5em 0 0;">
							<li>Web design</li>
							<li>Interface design</li>
							<li>Mobile design</li>
							<li>Usability</li>
							<li>User experience</li>
						</ul>
					</p>
				</td>
				<td style="vertical-align: top; padding:3px 0; width: 30px; height: 100%;"><input type="checkbox" name="graphics" value="graphics" checked></td>
				<td style="vertical-align: top;">
					<p style="margin: 0;">PHP</p>
					<hr>
						<ul class="small" style="margin: .5em 0 0;">
							<li>Drupal development</li>
							<li>Wordpress development</li>
							<li>Joomla development</li>
							<li>Laravel development</li>
							<li>Magento development</li>
						</ul>
					</p>
				</td>
			</tr>
			
				<tr>
				
				<td style="vertical-align: top; padding:3px 0; width: 30px; height: 100%;"><input type="checkbox" name="graphics" value="graphics" checked></td>
				<td style="vertical-align: top;">
					<p style="margin: 0;">Javascript</p>
					<hr>
						<ul class="small" style="margin: .5em 0 0;">
								<li>Angular.js</li>
								<li>Node.js</li>
								<li>Meteor.js</li>
								<li>Javascript</li>
								<li>Jquery</li>
						</ul>
					</p>
				</td>

				<td style="vertical-align: top; padding:3px 0; width: 30px; height: 100%;"><input type="checkbox" name="graphics" value="graphics" checked></td>
				<td style="vertical-align: top;">
					<p style="margin: 0;">Python</p>
					<hr>
						<ul class="small" style="margin: .5em 0 0;">
								<li>Django development</li>
								<li>Flask development</li>
								<li>Pyramid development</li>
						</ul>
					</p>
				</td>
			</tr>			
			
			
			
				<tr>
				
				<td style="vertical-align: top; padding:3px 0; width: 30px; height: 100%;"><input type="checkbox" name="graphics" value="graphics" checked></td>
				<td style="vertical-align: top;">
					<p style="margin: 0;">Ruby</p>
					<hr>
						<ul class="small" style="margin: .5em 0 0;">
								<li>Ruby on Rails development</li>
						</ul>
					</p>
				</td>
				
				<td style="vertical-align: top; padding:3px 0; width: 30px; height: 100%;"><input type="checkbox" name="graphics" value="graphics" checked></td>
				<td style="vertical-align: top;">
					<p style="margin: 0;">Mobile</p>
					<hr>
						<ul class="small" style="margin: .5em 0 0;">
							<li>Android development</li>
							<li>iOS development</li>
						</ul>
					</p>
				</td>
			</tr>			
			




<tr>
	<td colspan="4">
		<h4>Card Number<h4>
					<input type="email" placeholder="**** **** **** ****">
	</td>
</tr>

<tr>
<td colspan="2">
	<h4>CVC</h4>
					<input type="cvc" placeholder="***">
					<%= image_tag("credit.png", :style => "width: 50px; vertical-align: middle;") %>
</td>
<td colspan="2">
		<h4>Expiration date</h4>
					<input type="mm" placeholder="MM"> / <input type="year" placeholder="YYYY">
</td>
</tr>

		</table>
<hr>				
				<center>
				<h1 class="jumbo" style="margin: 1em 0 0;">Pay $99/month</h1>
		</center>


		<a href="#"><input type="submit" name="submit" value="Show me my future clients" data-drip-attribute="sign-up-button"  style="margin: 2em 0;" class="buy"></a>
		
		
		<h4>What if you don't like it?</h4>
		<p class="small">No worries. There's a 30-day 100% satisfaction guarantee. Enjoy Workshop for a full month, and if you don't like it for any reason, send me an email and I'll give you a refund. I don't want your money if you're not 100% blown away.</p>
		</form>
		
		</div>
		

		<section class="reading-wrap" style="margin: 0 auto 5em;">
		<blockquote>
		<table>
		<tr>
		<td>
		<%= image_tag("testimonials/mcapacci.jpg") %>
		
		</td>

		<td>
		<p>&ldquo;I wrote to two contacts from the first Workshop email I got. I already made an appointment for a Skype call with one of the two. It’s 50% conversion for now, not bad at all. ;)&rdquo; <cite>- Manuele Capacci</cite></p>
		</td>
		</tr>
		</table>
		</blockquote>
		
</section>


<center>
<div class="logo">
	<%= image_tag("workshop-logo-big.png", :style => "margin: 0 0 5em; width: 150px;") %>
</div>
</center>