<section class="loose-wrap">
<h1>Who are your ideal clients? What problem are they looking to solve?</h1>
<form action="" class="signup">
<input type="checkbox" name="vehicle" value="Bike"> Improving their app or product's sales funnThey need to improve their app's sales funnel and get more sales.<br>
<input type="checkbox" name="vehicle" value="Car"> They need to build a software app.<br>
<input type="checkbox" name="vehicle" value="Bike"> They need to make their agency's client work more profitable by outsourcing to reliable freelancers.<br>
<input type="checkbox" name="vehicle" value="Car"> They need to produce content that speaks to their consumers, faster.
<br>
<input type="email" style="width:300px; margin-right: 1em;" placeholder="Your Email">
<input type="submit" class="buy" style="vertical-align: 2px;">


</form>
</section>