<section class="loose-wrap" style="text-align: center;">


<%= image_tag("missing.png", :style => "margin: 3em 0 -4em; width: 150px;") %>

</section>
<section class="loose-wrap">

	<h1 class="jumbo" style="margin: 3em 0 0;">Awesome! Welcome to Workshop. Next step, check your email!</h1>
	<blockquote style="margin: 1em 0;">
	<table>
	<tr>
	<td>
	<%= image_tag("testimonials/jsyke.jpg", :style => "width: 100px; border-radius: 125px;") %>
	<cite><p>Jamie Syke</p></cite>
	</td>

	<td style="padding: 0 2em;">
	<p>&ldquo;On the first day I used Workshop I contacted three prospective clients and got three emails back. One of those communications turned into a solid gig. It's totally worth it so far. A big part of why it's worth it to me to pay $64/mo for Workshop is that I know they'll be 100% freelance-friendly leads and I don't have to think about whether it makes sense for me to apply or not. Again, I'm really loving Workshop so far, and thanks for creating it. I look forward to continuing to use it for a long time.&rdquo;</p>
	</td>
	</tr>
	</table>
	</blockquote>
	</section>
	
<section class="tight-wrap" style="margin: 2em auto;">
<hr>
<h4>What happens next?</h4>
<p class="small">The best way to get started with Workshop is to just start emailing the leads I send you. Right now, I'm sending you a couple of hand-picked leads based on what your specialty is. You'll get that email from me shortly. Write them and start filling your sales pipeline!</p>

<h4>How can I cancel my account?</h4>
<p class="small">You can instantly cancel your account at any time <a href="http://workshop.memberful.com">using this link.</a> Once you sign in, go to your profile and look for the de-activation link which will stop any future charges and cancel your account.</p>


<h4>How do I get a refund?</h4>
<p class="small">Email me, I'll take care of it. If you’re passed your 30-day  money back guarantee but forgot to cancel and didn't enjoy the service, you can still email me and I’ll refund you. I don’t want your money if you’re not happy with the service.</p>
</section>

