<section class="tight-wrap" style="text-align: center;">
<%= image_tag("successful_order.png", :style => "margin: 5em 0 0 0;") %>
<h1>Sweet! Thanks for the feedback!</h1>
<p>I really appreciate the help. Let's <a href="http://twitter.com/letsworkshop">keep in touch on twitter</a> and let me know what you think of the rest of the email course.</p>
</section>
