<section class="tight-wrap" style="text-align: center;">
<%= image_tag("successful_order.png", :style => "margin: 5em 0 0 0;") %>
<h1>Sweet! Your order is complete!</h1>
<p>Now, let’s get crackin. Check your email for the next step.</p>
</section>
