

<section class="loose-wrap" style="text-align: center;">

	<%= image_tag("confetti.png", :style => "margin: -2em 0 0;") %>


</section>



	<section class="tight-wrap" style="margin: 2em auto;">
		<center><h1 class="jumbo" style="font-size: 250%;">Welcome! We're glad to have you!</h1>
			
			<h2 class="jumbo">You picked a beautiful day to join Workshop.</h2>
			
			</center>
	<hr>
	<h2>What happens next, where are my leads?</h2>
	<p>The best way to get started with Workshop is to just start emailing the leads I send you. In a few minutes you'll receive a special hand-picked lead based on the type of work you do. Once you get it, write that person a quick email and start filling your pipeline!</p>
		
<h2>How many leads will I get that are relevant to me?</h2>
<p>Everyone has different skill sets. Because of this, you might have an email where all 10 of the leads are relevant to you. Other days you might see 0 to 2 that are relevant for you. The good news is you get these leads sent every single day and they are opportunities you wouldn't have known about otherwise.</p>


		<div style="margin: 0 0 3em;">
		<center>
		<br>
		<a href="http://gmail.com" class="blue-button" target="_blank">Update the type of leads you get</a>
		<br>
		</center>
		</div>

<hr>
<h4>How do I cancel my account</h4>
<p class="small">You can instantly cancel your account at any time <a href="http://workshop.memberful.com">using this link.</a> Once you sign in, go to your profile and look for the de-activation link which will stop any future charges and cancel your account.</p>

<hr>
</section>

<section class="loose-wrap">

	<blockquote style="margin: 1em 0;">
	<table>
	<tr>
	<td>
	<%= image_tag("testimonials/jsyke.jpg", :style => "width: 75px; border-radius: 125px;") %>
	<cite><p>Jamie Syke</p></cite>
	</td>

	<td style="padding: 0 2em;">
	<p>&ldquo;On the first day I used Workshop I contacted three prospective clients and got three emails back. One of those communications turned into a solid gig. It's totally worth it so far. A big part of why it's worth it to me to pay a small monthly fee for Workshop is that I know they'll be 100% freelance-friendly leads and I don't have to think about whether it makes sense for me to apply or not. Again, I'm really loving Workshop so far, and thanks for creating it. I look forward to continuing to use it for a long time.&rdquo;</p>
	</td>
	</tr>
	</table>
	</blockquote>
	</section>


