<section class="tight-wrap" style="text-align: center;">
<%= image_tag("successful_order.png", :style => "margin: 5em 0 0 0;") %>
<h1>Sweet! Your sample request is complete!</h1>
<p>It should arrive in your inbox in a few minutes. For now, follow me on twitter (<a href="http://twitter.com/letsworkshop">@letsworkshop</a>), so you can give me a shoutout when you land work with your free sample.</p>
</section>
