<style>
	h2 {margin: 1em 0 0;}
	h2 + p {margin: 0;}
</style>

<div class="wrap w600" style="padding: 2em 0 0;">	
	<h2>Terms of Service</h2>
	
	<p>Here’s how it works. You alone are responsible for your actions and the results of your business, which depend on personal factors such as your skill, abilities, knowledge, connections, and financial situation, just to name a few.</p>

	<p>I offer no warranties or guarantees regarding results. When addressing financial matters, I’ve taken every effort to ensure I accurately represent the platform and it’s ability to enhance your business.</p>

	<p>However, by using or purchasing anything from this website, you accept and agree that you are fully responsible for your results (and those results will obviously vary).</p>

	<p>Any statements outlined are my opinion and thus are not guarantees or promises of actual performance. And if you have a question, ask it.</p>

	<h2>100% Satisfaction Guarantee</h2>

	<p>If you're not happy with your purchase for any reason I'll refund your money (up to the last 30 days). I reserve the right to deny service to anyone for any reason without notice, including.</p>

	<h2>Site Terms of Use Modifications</h2>

	<p>I may revise these terms of use at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
</div>

<div class="wrap w860">
	<%= render "layouts/footer_menu" %>
</div>