<% content_for :title, "How Tyler uses Workshop to win 5/7 clients he emails." %>


<section class="loose-wrap">
<h1>Meet Tyler van der Hoeven</h1>

<p>Tyler was part of a monthly office hours call where Workshop members got to submit questions for him. Here's the answers he shared.</p>

<hr>
	
<h2>Q: What kind of clients do you pursue?</h2>
<p>A: Ones with money, an interesting idea and a clear problem</p>

<h2>Q: Are there some leads that seemed to have a low budget, but you uncovered them to be willing to spend significantly more? If so, what did you do?</h2>
<p>A: Absolutely. Not a Workshop client yet but that happens all the time with my agency client Blue Million. The Navy App was a great example of that. Quick two day project turned into a nearly 20k job over three months. Don't be afraid to call out a bad idea if you've got a clear idea of a better way and are willing to shape that into a product that is totally worth the extra expense. Solve the clients problems, that's top priority.</p>

<h2>Q: How have you been able to de-commoditize your services?</h2>
<p>A: Play to your strengths, specialize, say no and do work you want to. Don't try to be different or be a one stop shop. Be amazing. Take people's breath away. Say you'll give 100% and return with 200%. People remember what you did, not what you said you could do.</p>

<h2>Q: How do you get such a high response rate when emailing leads?</h2>
<p>A: I'm a nice guy. I'm honest. I don't beat around the bush. I've done good work, pretty work, work people like and want for themselves. </p>

<h2>Q: What’s your criteria for disqualifying a lead?</h2>
<p>A: If they have an RFP that's more then 2 pages it's an instant nope. RFP clients are the stuff my nightmare's are made of. Most RFP clients just want a tool. I am not a tool. I'm a professional. I take problems and I solve them. I write the RFPs and call them IA docs. If they've already solved the problem then they're not looking for me.</p>

<h2>Q: What's his thoughts on RFP’s, does he touch or go after any of those via Workshop?  If so, what is his process…if no, why not?</h2>
<p>A: Nope. That's not to say y'all shouldn't pursue them. Just that I don't. Not enough freedom in the ones I've looked at.</p>

<h2>Q: Tyler, how are you representing yourself when you contact leads that come from Workshop? As an agency or as a freelancer? If yes as an agency, do you see a decline or an increase of replies?</h2>
<p>A: Agency. Mmm not so much on the reply side of things but certainly an increase in the rates I can comfortably charge. It's a matter of trust and just plain being business smart.</p>

<p>Most of my clients are smaller shops and individuals with a good idea looking for help. They're willing to pay good money in exchange for good work. They're healthy business partner candidates.</p>

	Contact first, proposals second
	Get on the phone
	Be honest
	Be good
	Be professional but friendly
	It's all about the relationship
	Barter don't beg
	Listen for what a client means, not what they're saying

<h2>Initial Proposals</h2>

	Fluence http://tyler.link/ajLb
	Baremetrics http://tyler.link/ajNI
	Layered Tech http://tyler.link/ajMy
	Drink Your Juice http://tyler.link/ajul

	Online proposal https://tinyanvil.com/proposals/drinkyourjuice2

<h2>You'll Only Ever Do the Work You're Doing</h2>

	You only get better work tomorrow by doing better work today.

<h2>Don't Wait To Raise Your Rates</h2>

	It's not about being fair, it's about being worth it. You'll do your best work when you're not worried about money. Your clients want and deserve your best work. We don't buy Apple gear because it's a fair price but because it's worth it.

<h2>Be Good</h2>

	All of these are moot points if you suck at your job. If you hate it, don't care, or simply aren't good please find something else to do or at the very least make an effort and take the steps to get better. No one owes you anything, this is business not the lottery. Work hard, give it your best, always be improving and charge what you're worth. You'll do fine. 

<h2>Further Reading</h2>

	Make Your Own Money 
	Too Selfish To Be Self Employed
	Treehouse Interview
	
</section>