<style>
body {/*background-color: #f6f3f0;*/}
h1 {color: #101010;}
h2 {color: #868480; margin: .75em 0; line-height: 1.5em;}
</style>

<section class="reading-wrap">
<h1>Buying a big website is too risky.</h1>
<h2>Skip the 30-page proposals, fat price tags, and energy sucking sinking of thousands of dollars into that big mess of a project.</h1>
<p>Major site overhauls cost more because you're footing the bill on dozens of unnecessary expenses. Big projects mean lots of meetings and time wasting just trying to sort through it all out. Worse, you don't end up with a great website. You just don't have to pay more.</p>

<!--	
<p>So why pay more? All you want is your website improved, not a big project. Don't pay for all that other stuff.</p>
<p>Paying for a big website isn't just scary, it's also risky and can spiral out of control. Instead you want to buy a website one page at a time.</h2>
	

<p>When you get a proposal it's usually a guess and has no guarantees it'll work. That doesn't seem safe because it's not.</p>
<p>The problem is you don't know what it should cost, but worse you can't get a straight answer from anyone who should know. It doesn't have to be that hard. There's 200+ wonderful freelancers signed up to Workshop and each one of them can help you get setup.</p>
<p>	You know what you need to have and you just need something that's going to get it done. You've tried other freelancers but their projects usually balloon.</p>
<h2> Instead buy and shop for your new sitelike at the store: pick out what you need, pay, and start using it.</h2>



<center>

	
<h1>In 2 days, get a great website you can update yourself.</h1>
<h4>Pick your theme and get a wordpress powered website in 2 days. Starting at $999.</h4>
<p>204 projects posted this week!</p>
<a href="<%= @sales_link %>"><input type="submit" name="submit" value="PICK A FREELANCER" data-drip-attribute="sign-up-button"></a>
<p style="margin: 2em 0;">Choose from over 200 freelance designers and developers for free.</p>
<img src="/testimonials/freelancer.jpg" class="freelancer-avatar">
<img src="/testimonials/cbo.jpg" class="freelancer-avatar">
<img src="/testimonials/rob.png" class="freelancer-avatar">
<img src="/testimonials/rob3.png" class="freelancer-avatar">
<img src="/testimonials/egg.jpeg" class="freelancer-avatar">
<img src="/testimonials/mehead2.jpg" class="freelancer-avatar">
<img src="/testimonials/rob2.jpg" class="freelancer-avatar">
<img src="/testimonials/elliot.png" class="freelancer-avatar">
<img src="/testimonials/xmas-rob.png" class="freelancer-avatar">

</center>
</section>
<section class="reading-wrap">
<hr>
<h3>You're looking for a website that is simple.</h3>
<p>You know what you need to have and you just need something that's going to get it done. You've tried other freelancers but their projects usually balloon.</p>
<p>The problem is you don't know what it should cost, but worse you can't get a straight answer from anyone who should know. It doesn't have to be that hard. There's 200+ wonderful freelancers signed up to Workshop and each one of them can help you get setup.</p>
-->

</section>