<style>
body {background-color: #fff; }
h1, h2, p {color: #8a7a6b;}
h1 { font-family: 'Kansas Medium'; font-size: 3em; color: #381c1d; margin: .5em 0 0 0; line-height: 1.25em;}
h2 { font-family: 'Kansas Medium'; margin: 1em 0; line-height: 1.5em;}
.welcome { margin: 3em 0; padding: 4em; text-align: center; border: 4px double #f6f3f0; }
h1.logo { color: #D13C1C; font-family: 'Kansas Medium'; font-size: 22px; letter-spacing: 1px; text-shadow: 1px 2px 0px #eaddbe; margin: 0 0 1em 0;}
.loose-wrap {width: 53em; margin: 0 auto;}
table td { border: 4px double #FFF; padding: 1em; background-color: #f6f3f0;}
p.starting-at {border-radius: 50px; width:7em; background-color: #c8974a; color: #FFF; font-family: 'Kansas Medium'; margin:.25em auto;}
.sign { width: 25em; padding: 3em 0; border: 1px solid #F6F3F0; border-radius: 5px; text-align: center;}
.sign h1 {font-size: 2em;}
h1.price { color: #D13C1C; font-family: 'Kansas Bold'; font-size: 70px; margin: 0;}
h1.price span {font-family: 'Kansas Medium'; vertical-align: .45em; font-size: 45px; color: #D13C1C;}
p.timeframe { font-family: 'Kansas Medium'; border-top: 2px solid #c8974a; border-bottom: 2px solid #c8974a; color: #8a7a6b; width: 12em; margin: .25em auto; font-size: 19px; letter-spacing: 1px;}
@font-face{ 
	font-family: 'Kansas Bold';
	src: url('/fonts/kansas/kansascasual-bold-webfont.eot');
	src: url('/fonts/kansas/kansascasual-bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/kansas/kansascasual-bold-webfont.woff') format('woff'),
	     url('/fonts/kansas/kansascasual-bold-webfont.ttf') format('truetype'),
	     url('/fonts/kansas/kansascasual-bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Kansas Medium';
	src: url('/fonts/kansas/kansascasual-medium-webfont.eot');
	src: url('/fonts/kansas/kansascasual-medium-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/kansas/kansascasual-medium-webfont.woff') format('woff'),
	     url('/fonts/kansas/kansascasual-medium-webfont.ttf') format('truetype'),
	     url('/fonts/kansas/kansascasual-medium-webfont.svg#webfont') format('svg');
}

</style>

<section class="loose-wrap">
<section class="welcome">
	<h1 class="logo"><%= image_tag 'sign/welcome-sign.png', :style => 'width: 4em; vertical-align: -.5em;' %>to Wheelhouse</h1>
	<center><h1>Where you can shop for a new website like at the store</h1>
	<h2>See exactly what you get, pay for what you need, and skip big messy projects.</h2></center>
</section>

<section class="sign">
	<%= image_tag 'sign/new-sign.png', :style => 'width:5em; margin: 0 0 -1em 0;' %>
	<h1>Website Redesigns</h1>
	<p class="starting-at">Starting at</p>
	<h1 class="price"><span>$</span>5000</h1>
	<p class="timeframe">Delivered in Two Weeks</p>
</section>



<!--
<h2>Thinking about hiring a designer or developer?</h2>
 
<p>Want to hire a designer or developer? Pick a project you want them to work on first. Decide exactly what you want, then send it to hundreds of freelancers and let them do the work for you. Remote. Projects. </p>






# Create a Wheelhouse Page #1

My specialty is ...

I build and launch new websites
I fix and improve old websites


# Create a Wheelhouse Page #2 (new)

What will you build?
-----
Why should they care?


How long will it take?
-----
Why is this the right timeframe?


How much will it cost?
-----
Why is this price a no-brainer?</p>




<center>

	
<h1>In 2 days, get a great website you can update yourself.</h1>
<h4>Pick your theme and get a wordpress powered website in 2 days. Starting at $999.</h4>
<p>204 projects posted this week!</p>
<a href="<%= @sales_link %>"><input type="submit" name="submit" value="PICK A FREELANCER" data-drip-attribute="sign-up-button"></a>
<p style="margin: 2em 0;">Choose from over 200 freelance designers and developers for free.</p>
<img src="/testimonials/freelancer.jpg" class="freelancer-avatar">
<img src="/testimonials/cbo.jpg" class="freelancer-avatar">
<img src="/testimonials/rob.png" class="freelancer-avatar">
<img src="/testimonials/rob3.png" class="freelancer-avatar">
<img src="/testimonials/egg.jpeg" class="freelancer-avatar">
<img src="/testimonials/mehead2.jpg" class="freelancer-avatar">
<img src="/testimonials/rob2.jpg" class="freelancer-avatar">
<img src="/testimonials/elliot.png" class="freelancer-avatar">
<img src="/testimonials/xmas-rob.png" class="freelancer-avatar">

</center>
</section>
<section class="reading-wrap">
<hr>
<h3>You're looking for a website that is simple.</h3>
<p>You know what you need to have and you just need something that's going to get it done. You've tried other freelancers but their projects usually balloon.</p>
<p>The problem is you don't know what it should cost, but worse you can't get a straight answer from anyone who should know. It doesn't have to be that hard. There's 200+ wonderful freelancers signed up to Workshop and each one of them can help you get setup.</p>
-->

</section>