<style>
.freelancer-avatar {height: 3em; border-radius: 3em; margin: 0 0 2em 0;}
</style>

<section class="loose-wrap">
<center>
<h1>In 2 days, get a great website you can update yourself.</h1>
<h4>Pick your theme and get a wordpress powered website in 2 days. Starting at $999.</h4>
<p>204 projects posted this week!</p>
<a href="<%= @sales_link %>"><input type="submit" name="submit" value="PICK A FREELANCER" data-drip-attribute="sign-up-button"></a>
<p style="margin: 2em 0;">Choose from over 200 freelance designers and developers for free.</p>
<img src="/testimonials/freelancer.jpg" class="freelancer-avatar">
<img src="/testimonials/cbo.jpg" class="freelancer-avatar">
<img src="/testimonials/rob.png" class="freelancer-avatar">
<img src="/testimonials/rob3.png" class="freelancer-avatar">
<img src="/testimonials/egg.jpeg" class="freelancer-avatar">
<img src="/testimonials/mehead2.jpg" class="freelancer-avatar">
<img src="/testimonials/rob2.jpg" class="freelancer-avatar">
<img src="/testimonials/elliot.png" class="freelancer-avatar">
<img src="/testimonials/xmas-rob.png" class="freelancer-avatar">

</center>
</section>
<section class="reading-wrap">
<hr>
<h3>You're looking for a website that is simple.</h3>
<p>You know what you need to have and you just need something that's going to get it done. You've tried other freelancers but their projects usually balloon.</p>
<p>The problem is you don't know what it should cost, but worse you can't get a straight answer from anyone who should know. It doesn't have to be that hard. There's 200+ wonderful freelancers signed up to Workshop and each one of them can help you get setup.</p>
</section>