<p class="job">
	<a href="<%= url_for project %>"><%= project.title %> 
		<small><i class="fa fa-commenting" aria-hidden="true" style="margin-left: .5em;"></i> New message</small> 
		<span class="company uppercase"><%= project.organization %></span>
	</a>
</p>

