<h1 class="text-grey-darkest mt-6 font-display font-light text-5xl leading-tight mb-2">
	<%= sanitize @project.title %>
</h1>

<div class="text-2xl text-grey-darker leading-normal">
	<p class="my-4"><%= sanitize @project.long_description %></p>
</div>
