<p class="job">
	<a href="<%= url_for project %>"><%= project.title %> 
		<% project.replies.where.not(portfolio_message: nil).limit(4).each do |reply| %>
			<%= image_tag(reply.portfolio_image.url, class: "portfolio-piece") %>
		<% end %>
		<span class="company uppercase"><%= project.organization %></span>
	</a>
</p>
