<div style="width: 100%; margin: 1em 0 0;">
	<p class="steps">
		<span class="<%= 'active' if step == "project"%>">1. Write your brief</span>
		
		<span class="<%= 'active' if step == "preview"%>">2. Preview your project</span>
		
		<span class="<%= 'active' if step == "payment"%>">3. Publish and pay</span>
	</p>
</div>