<p class="steps uppercase">
<span><span class="number <%= 'active' if step == "project"%>">1</span> Your project</span> &rarr; 
	<span><span class="number <%= 'active' if step == "preview"%>">2</span> Preview</span> &rarr; 
	<span><span class="number <%= 'active' if step == "payment"%>">3</span> Payment</span>
</p>
