<div class="wrap w800" style="margin: 0 auto 5em;">
<h1>Looks great! Here's what to send to the lead:</h1>

	<div style="">
		<p>OK, thanks for the go ahead, [firstname]!</p>

		<p>your project is ready to be sent to my network (absolutely free).</p>

		<p>Just go here: http://folyo.me/projects/124/approve</p>

		<p>And hit publish. that will send it out!</p>

		<p>Rob</p>
	</div>
</div>
