<div class="wrap w860 nav-border">
	<%= render "layouts/top_menu" %>
</div>

<div class="wrap w810">
	<h1 style="margin: 1em 0 0; text-align:center;">Create a project</h1>
	
	<p style="text-align: center; margin: 0 0 2em;">The client's account will be created with a random password and an email will be sent to them using the template at the bottom of the page.</p>

	<%= render 'form' %>
</div>
