

<div style="margin: 0 auto; width: 810px;">
	<p style="text-align:right;">
		<%= link_to 'Delete this project', @project, method: :delete, :class => "button", :style => "font-size: 13px; font-weight: normal; background: #eee; color: #444 !important; vertical-align: middle; margin: 1em auto 0;padding: 5px 10px 6px;", 
      data: { confirm: "Are you sure you want to delete this project? You won't be able to undo this." }  %>
	</p>
	
	<h1 style="margin: 1em 0 0; text-align:center;">Welcome back! Here's your project</h1>

	<%= render 'form' %>
</div>
