<div>
    <p class="recent uppercase">

    <%= link_to "â† Back home", home_projects_path %>

    <% Project.published.order(created_at: :desc).limit(15).each do |project| %>
      <%= render "projects/quick_view", project: project %>
    <% end %>

    <p class="job" style="padding-top: .75em;"><strong><%= link_to "See more projects", projects_path %></strong></p>
</div>
