<div class="reading wrap" style="width: 100%; max-width: 900px; margin: 0 auto; padding: 0 0 2em;">
	<div>	
		<%= render 'wizard', step: 'project' %>
	</div>

	<h1 style="margin: 2em 0 0;">Let's discuss your project...</h1>
	
	<p class="required" style="margin: .25em 0 2em;"><i class="fa fa-clock-o" aria-hidden="true" style="margin: 0 .25em 0 0; color: #f48f0b;"></i> Estimate time: 4 min</p>
	
	<%= render 'form' %>
</div>
