<%= render "layouts/top_menu" %>

<div style="margin: 0 auto; width: 810px;">

	<h1 style="margin: 1em 0 0; text-align:center;">Create a project</h1>
	<p style="text-align: center; margin: 0 0 2em;">You need work done? You've come to the right place. We just have a few questions for you, and then the responses will roll in – from qualified, talented freelancers all over the world.</p>


	<%= render 'form' %>
</div>
