<div class="reading wrap">
	<%= image_tag "workshop-placeholder-logo.png", style: "max-width: 150px; margin: 2em 0 -2.5em; display:inline-block;" %>

	<div>	
		<%= render 'wizard', step: 'project' %>
	</div>

	<%= render 'form' %>
</div>
