<div class="reading wrap">
	<%= image_tag "workshop-logo-placeholder.png", style: "max-width: 245px; margin: 2em 0 -1.75em; display:inline-block;" %>

	<div>	
		<%= render 'wizard', step: 'project' %>
	</div>

	<%= render 'form' %>
</div>
