<div class="wrap w860 nav-border">
	<%= render "layouts/top_menu" %>
</div>

<div class="wrap w810">
	<h1 style="margin: 1em 0 0; text-align:center;">Create a project</h1>
	
	<p style="text-align: center; margin: 0 0 2em;">Posting a project is currently unavailable. We'll be back soon!</p>
</div>
