<div class="reading wrap" style="width: 100%; max-width: 900px; margin: 0 auto; padding: 0 0 2em;">
	<div>	
		<%= render 'wizard', step: 'project' %>
	</div>

	<h1 style="margin: 1em 0 0;">Great! Now let's discuss your project...</h1>
	

	<p style="margin: .25em 0 2em;"><i class="fa fa-clock-o" aria-hidden="true" style="margin: 0 .25em 0 0; color: #f48f0b;"></i> <span class="required">Time to complete: 5 min</span></p>
	
	<%= render 'form' %>
</div>
