<style>
.thank-you-wrap {
	padding: .5em 1em 1em;
	margin: 1em 0;
	border-radius: 12px;
	border: 3px solid #9d82c8;
}

.thank-you-wrap small {
	line-height: 1;
}

.thank-you-wrap h3 {
	margin: .5em 0;
}

.thank-you-wrap small ul {
	margin: 0;
}
.thank-you-wrap small ul li {
	margin: 0;
} 
</style>
<div class="wrap800" style="max-width:600px; margin: 0 auto 5em;">
	
<h1 style="margin: 1.5em 0 .25em;"><%= image_tag 'upsell.png', :style => "width: 45px; vertical-align: -5px;margin-right: .15em;" %> Thank you!</h1>
<p style="margin: 0 0 1.5em;">Your project has been posted and looks great. We hope it solves a valuable problem for your business!</p>


<div class="thank-you-wrap">
	<h3>Here's your project's URL:</h3>
	
	<input type="text" value="http://folyo.me/projects/394" style="margin: 0;">
	
	<p>Your listing will stay online until your mark it as complete from your project dashboard.</p>
	
	<small>
		
		
		<hr>

		<p><strong>Want to make a change?</strong><br>
			<ul>
				<li><%= link_to 'Click here make changes to your project anytime you like', edit_project_path(2) %></li>
			</ul>
		</p>

		<p><strong>Want to post another project?</strong><br>
			<ul>
				<li><%= link_to 'Create a new project', new_project_path %></li>
			</ul>
		</p>
	</small>
</div>





<p>Thanks again and we hope you find the person you're looking for.</p>
<p>- Folyo</p>

</div>