<div>
	<%= render 'projects/project' %>

	<p>
		<%= link_to 'Edit your project', edit_project_path(@project)  %>
	</p>

	<p>
		Public url:
		
		<input value="<%= project_path %>"></input>
	</p>
</div>
