<style>
input[type="rss"] {
	margin: .3em 0;
	height: 2.25em;
	width: 400px;
	border: 2px solid #FFF;
}
input[type="rss"]:hover {
	background-color: rgba(41, 150, 191, .05);
}
input[type="rss"]:focus {
	background-color: rgba(41, 150, 191, .05);
}
th {
	font-weight: 500;
	border-bottom: 1px solid #D9D3CF;
	padding: .5em 0;
}
.trash {
	color: #aaa; font-size: 80%;
}
.trash:hover {
	color: red;
}
</style>

<div class="content" style="text-align: center;">
	
	
	<a href="/rss" style="margin: 5em auto 3em; display: table;"><i class="fa fa-long-arrow-left"></i> Back to Prospects</a>
	
	<h2>Edit RSS Job Sources</h2>
	
	<table style="width: 500px; margin: auto;">
		<tr>
			<th>Active</th>
			<th colspan="2">RSS Feed</th>
		</tr>
		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>
		<tr>
			<td><input type="checkbox"></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>
		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>

		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>

		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>

		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>

		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>

		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>

		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>

		<tr>
			<td><input type="checkbox" checked></td>
			<td><input type="rss" value="https://authenticjobs.com/rss/index.xml"></td>
			<td><a href="#" class="trash"><i class="fa fa-trash-o"></i></a></td>
		</tr>

		<tr>
			<td colspan="2">
				<input type="url" placeholder="Add a new RSS feed" style="width: 31em; float: left;"></td> 
				<td><a href="#" style="margin: 1.25em 0; padding: 1em .5em; border-radius: .4em; font-size: 80%; font-weight: 500; float: right; background-color: #2996bf; color: #FFF;  width: 4em; text-align: center;">Add</a>
			</td>
		</tr>
</table>
		
	
	<a href="/rss" style="margin: 5em auto 3em; display: table;"><i class="fa fa-long-arrow-left"></i> Back to Prospects</a>
	
</div>