<div class="wrapper">
	<div style="border-radius: .5em; background-color: #fff; border: 2px dotted #fbcd68; padding: 1em 1em 0; margin: 2em 0;">
	<%= image_tag "guide-free-gift.png", :style => "font-size: 80px; float: left; margin: .25em .4em 0 .25em; color: #e76025; max-width: 90px;" %>

	<h3 style="margin: 1em 0 0;">But first, I'd like to send you a free gift...</h3>
	<p style="margin: .25em 0 3em;">Workshop is a long-term investment. To make sure you get off on the right foot I'd like to send you a soft-cover members-only edition of my book with bonus material specifically for Workshop members.  Enter your address below and I'll send it your way for free.</p>

<div id="wufoo-z1r2gir61uxuldw" >
Fill out my <a href"https://letsworkshop.wufoo.com/forms/z1r2gir61uxuldw">online form</a>.</div>
<script type="text/javascript">var z1r2gir61uxuldw;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'letsworkshop',
'formHash':'z1r2gir61uxuldw',
'autoResize':true,
'height':'445',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { z1r2gir61uxuldw = new WufooForm();z1r2gir61uxuldw.initialize(options);z1r2gir61uxuldw.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
</div>


<p class="next-step" style="display: table; width: 100%; margin-bottom: 5em;"><a class="button" href="/leads?tutorial=true">Launch lead app</a></p>

</div>