<div class="content">
	
	<h1>Stop looking for the ideal client...</h1>

<p>First off, thanks for the help. Knowing what type of leads you'd like to see will help me find more of those soon.</p> 

<p>However, I'd like to let you in on a little secret. Finding the perfect client is not going to happen.</p> 

<p>Why won't it happen? Because the perfect client doesn't exist. There will never be a lead that checks off every thing you want to see in a client.</p> 

<p>The truth is we create ideal clients by working with them. By educating them. By demanding them. </p>

<p>If you're concerned that the leads I send over are not in your technical specialty, I understand. Finding your niche and focusing on that niche is super powerful and I am a big proponent of this approach. </p>

<p>However, the leads I send - and any leads really - are all focused on one thing: getting the most successful project. Regardless of your niche, you can help these leads.</p>

<p>The truth is most clients don't care what code language, design fundamental, or other specialty you have. They want a solution. They want a problem solved. </p>

<p>You're ahead of most because you've paid to have these people brought to you. You value your time. </p>

<p>Now it's time to give clients what they value. Stop focusing on technical terms. Make it about improving the client's life.</p>
	
<p>When you do this, the specifics, like what language their job post says they need, will melt away.</p>

<p>See, this opens you up to more clients, but it also makes you more valuable. It makes you a consultant, valued for your mind just as much as your hands.</p>

<p>That's why I suggest you stay signed up and push yourself to contact at least one new opportunity every day, regardless of if it's your ideal lead. Even if they're completely outside of your wheelhouse.</p>

<p>Instead of writing off clients that you think you aren't right for, propose a solution that shows you are. This is how top freelancers get clients to 10x their budgets. By showing them what they need, not what they ask for.</p>

<p>I suggest you make this a habit even if you indeed decide to cancel.</p>

<p>What's the worst that can happen?</p>

<p>Looking forward to having you as a customer!</p>

	<p>Regards,<br>
		Robert<br>
		<%= image_tag('rob-sig.png', :style => "width: 9em;") %>
	</p>



	<center>
	<p>
		<%= link_to "I'd still like to cancel my account", destroy_subscription_path, method: 'delete', :style => "color: #E44727;" %>
	</p>
	</center>

</div>
