<div class="content">
	<h1>We will contact you shortly about these leads</h1>

	<p>
		Thanks for helping me make Workshop a better value for you and your business! I will be reaching out to you shortly
		to discuss how I can help you with these types of leads.
	</p>

	<p><%= link_to 'Return to your profile', edit_user_registration_path %></p>
	
	<p><%= button_to 'I still want to cancel', destroy_subscription_path, method: 'delete' %></p>
</div>
