<div class="content">
	<h1>Canceling Workshop</h1>
<p>To cancel, email Julie (<a href="MAILTO:julie@letsworkshop.com">julie@letsworkshop.com</a>) with your reason for canceling  and she'll take care of you.</p>
</div>