<div class="wrap w860" style="width: 100%; max-width: 900px; margin: 0 auto; padding: 0 0 2em;">
	<%= form_for @user, url: update_freelancer_details_path, method: :put, id: 'new_user', class: 'form-focus' do |f| %>
    <%= render "registrations/freelancer_details_onboard", f: f %>
	
		<div style="text-align:center; display:table; width: 100%; margin: 0;">
			<%= f.submit 'Save and continue', :class => "button" %>
			<p style="margin: 0; line-height: 1;"><small style="margin:0;">You can change this later.</small></p>
		</div>

		</div>
	<% end %>
</div>
