<div class="max-w-md mx-auto">
	<div class="w-full bg-grey-lighter mt-6 rounded">
    <div class="bg-green-light text-xs leading-none py-1 text-center text-grey-darkest rounded" style="width: 66%">66%</div>
  </div>

	<%= form_for @user, url: update_freelancer_details_path, method: :put, id: 'new_user', class: 'form-focus w-full' do |f| %>
		<%= render "registrations/freelancer_details_onboard", f: f %>
		
		<%= f.submit 'Save and continue', :class => "button mb-0", :style => "margin: 0;" %>
		
		<p class="text-grey-dark text-xs italic mt-4">You can change this later.</p>
	<% end %>
</div>
