<div class="max-w-lg mx-auto pt-6">
	<%= form_for @user, url: update_freelancer_details_path, method: :put, id: 'new_user', class: 'form-focus w-full' do |f| %>
		<%= render "registrations/freelancer_details_onboard", f: f %>
		
		<%= f.submit 'Save and continue', :class => "button mb-0  font-display-label font-bold", :style => "margin: 0;" %>
		
		<p class="text-grey-darker text-base mt-4">You can change this later (when you become even more awesome).</p>
	<% end %>
</div>
