<h3>I want higher quality leads</h3>
<p>
	Sometimes the projects you see in workshop might look lower quality because of one reason or another but putting yourself in the clients shoes will 
	make you see that they’re really just trying to protect themselves with their low-ball budgets. Top freelancers realize this and get clients to 10x 
	their budgets regularly. If you really want to cancel I understand but here’s a 20% off coupon to my book emails that win you clients. I think it
	would really help if you ever want to come back. I’d hate to see you go away empty handed and go back to emailing prospects using something like elance or odesk.
</p>

<%= button_to 'Click here to cancel your account', destroy_subscription_path, method: 'delete' %>
<p>
	<%= link_to 'Go back', edit_user_registration_path %>
</p>
