<div class="content">
	
		<h1>Stop looking for the ideal client...</h1>

	<p>I'd like to let you in on a little secret. I know I'll never send you the perfect client. It's just not going to happen.</p> 

	<p>Why won't it happen? Because the perfect client doesn't exist. There will never be a lead that checks off every thing you want to see in a client.</p> 

	<p>The truth is we create ideal clients by working with them. By educating them. By demanding them. </p>

	<p>If you're concerned that the leads I send over are not high quality enough, I beg you to take a step back. Only working with great clients is something I'm a huge proponent of.</p>

	<p>However, the leads I send - and any leads really - are all focused on one thing: getting the most successful project. Regardless of what their budget says, you can help these leads.</p>

	<p>The truth is most clients honestly don't know what it takes to create the right solution. Everyone wants a deal, and to get the lowest price on something. However, if you're able to show them why it's in their best interest to pay more there's not a single client in the world who won't open up their wallet.</p>
	<p>They all have a problem they want solved.</p>

	<p>You're ahead of most because you've paid to have these people brought to you. You value your time. </p>

	<p>Now it's time to give clients what they value. Stop focusing on what clients say they want. Make it about improving their life.</p>

	<p>When you do this, the specifics, like they think their budget is, will melt away.</p>

	<p>See, this opens you up to more clients, but it also makes you more valuable. It makes you a consultant, valued for your mind just as much as your hands.</p>

	<p>That's why I suggest you stay signed up and push yourself to contact at least one new opportunity every day, regardless of if it's your ideal lead. Even if you think they can't afford you.</p>

	<p>Instead of writing off clients that you think you aren't right for, propose a solution that shows you are. This is how top freelancers get clients to 10x their budgets. By showing them what they need, not what they ask for.</p>

	<p>I suggest you make this a habit even if you indeed decide to cancel.</p>

	<p>What's the worst that can happen?</p>

	<p>Looking forward to having you as a customer!</p>

		<p>Regards,<br>
			Robert<br>
			<%= image_tag('rob-sig.png', :style => "width: 9em;") %>
		</p>



		<center>
		<p>
			<%= link_to "I'd still like to cancel my account", destroy_subscription_path, method: 'delete', :style => "color: #E44727;" %>
		</p>
		</center>
</div>