<h3>I'm booked</h3>

<p>
	How far in advance? If it’s not 6-12 months out, sending out a few emails out now can really make a difference because you’ll be 
	negotiating from a position of power. Have you ever entered a meeting where at the time you were living paycheck to paycheck? That’s a 
	horrible feeling to be in.
</p>

<%= button_to 'I still want to cancel', destroy_subscription_path, method: 'delete' %>
<p>
	<%= link_to 'Go back', edit_user_registration_path %>
</p>

