<div class="max-w-2xl mx-auto py-6">
	<% if params[:project_id] %>

	<p class="text-sm text-grey-dark pb-2 text-center">	
    <%= render 'projects/project' %>
			<h2 class="my-8 text-grey-darkest font-display text-3xl">
				Apply to this job
			</h2>
		<% else %>		
			<h2 class="my-8 text-grey-darkest font-display text-3xl">
				Create an account
			</h2>
		<% end %>

	<%= render "form" %>
</div>
