<div class="flex w-full">
		<div class="w-2/3 h-auto p-8">
			<% if params[:project_id] %>
				<%= render 'projects/project' %>
			<% else %>
				No project put something else
			<% end %>
			<p class="text-base">Powered by <%= link_to "Folyo's custom application software", root_url, :class => "text-grey-dark" %></p>
		</div>

	<div class="w-1/3 h-auto p-8 shadow-lg">
			<h2 class="my-8 text-grey-darkest font-display text-3xl">
				To apply, create an account
			</h2>

			<%= render "form" %>
	</div>
</div>
