<div style="width: 800px; margin: 0 auto;">
	<section style="margin: 2em auto; width: 300px;">
		<h1 style="margin: 1em 0 .5em; text-align: left;">Sign up free</h1>

		<%= render "form" %>
	
	</section>
</div>
