<div style="width: 600px; margin: 0 auto;">
	<h1 style="text-align:center;">You're almost done!</h1>

	
	
	<h3 class="action-header">Preview your message</h3>
	
	
	<div style="width: 560px; border-bottom: 1px solid #dee5e9; border-top: 1px solid #dee5e9; margin: 2em auto 2em; padding: .5em; box-sizing: border-box;">
		
		<p style="margin: 0;">Hello! My name is Tuesday Bassen. I'm an illustrator and designer from NYC. I've previously worked for CB2 & run a store in the Lower East Side.</p> 
		<p>Hello! My name is Tuesday Bassen. I'm an illustrator and designer from NYC. I've previously worked for CB2 & run a store in the Lower East Side. Hello! My name is Tuesday Bassen. I'm an illustrator and designer from NYC. I've previously worked for CB2 & run a store in the Lower East Side. </p>
	</div>
	
	
	<h3 class="action-header">Now, finish sending by creating a free account</h3>
	
	<section style="margin: 2em auto 2em; width: 300px;">
		<%= render "form" %>
	</section>
</div>