<h3>I don't get enough responses</h3>

<p>
	Getting potential clients to respond to your emails is one of the toughest things to learn as a freelancer. It takes most years of trial and
	error to become skilled enough to consistently land new clients. Luckily, I have put together a book to help you learn those skills in hours,
	instead of years. 

</p>
<p><%= link_to 'Learn to write emails that win clients', 'http://www.emailsthatwin.com' %> </p>

<%= button_to 'Click here to cancel your account', destroy_subscription_path, method: 'delete' %>
<p>
	<%= link_to 'Go back', edit_user_registration_path %>
</p>
