<section class="tight-wrap" style="text-align: center;">
<%= image_tag("successful_order.png", :style => "margin: 5em 0 0 0;") %>
<h1>Got it! We've updated your leads.</h1>
<p>Look for your new leads in the next Workshop email (Workshop emails are sent weekdays at 8:00 am EST). <%= link_to "Update your email", welcome_path %>.</p>
</section>
