<div class="wrapper">
<%= image_tag("confetti.png", :style => "margin: 1em 0 0; max-width: 100%;") %>
<h2>Hello <%= first_name @user.name %> and welcome to the wonderful world of finding clients!</h2>
<p>OK, maybe not so wonderful. Finding clients kinda sucks. It’s time-consuming and a pain in the butt. That’s why you’ve hired me. All day long you work with clients. They get to tell you what <em>they</em> want and <em>you</em> deliver them results.</p>

<h3>Now it’s your turn to be the client.</h3>
<p>Now I deliver YOU results. I help you boost your revenue and end the feast or famine cycle forever. Your job is to reach out to one new lead I send you each day. By next month, you will have 20 potential new deals in your pipeline. That's less than one hour of work in exchange for possibly tens of thousands of dollars. Not bad. In fact, some customers close deals right away!</p> 

<p class="next-step" style="margin-bottom: 5em;"><a href="/address">Ready! Take me to my leads</a> <span style="color: #e76025;"> &#8594;</span></p>
</div>