<div class="wrapper" style="padding-bottom: 6em;">
	<%= image_tag("confetti.png", :style => "margin: 0; max-width: 100%;") %>
	<div style="width: 33em; margin: 0 auto;">
		<center>
			<h2 style="font-size: 40px;">Thanks for signing up!</h2>

			<p>I truly appreciate the support. Your subscription will automatically renew on <%= current_user.billing_period_end %>. The card we have on file will be charged $<%= current_user.subscription.plan.price %> at that time.</p>

			<p>You can edit your subscription any time in <%= link_to "account settings", update_subscription_categories_path %></p>
			<br>
			<a href="/address" class="button">Launch Workshop app</a>
		</center>
	</div>
</div>