$red: 							#E44727;

$blue:              #7191bc;
$strong-blue:				#3477d3;
$strong-blue-hover: darken($strong-blue, 20%);

$gray:              #e7e2db;
$light-gray:				#f0eeea;
$dark-gray: 				#444;
$brown-gray: 				#8c8c8c;

$white:             #fff;
$black:             #111;

$light-yellow:			#fef3b8;
$yellow:						#ffe672;
$dark-yellow:				#a76e00;



$text-color:        		$dark-gray;
$header-color: 					$black;
$link-color:        		$blue;
$link-hover:        		darken($link-color, 15%);
$border-color:      		#ccc;
$background-color:			$white;
$background-note: 			$light-yellow;
$highlight: 						$yellow;
$highlight-text-color: 	$dark-yellow;


body, p, a, span, ol, ul, textarea { color: $text-color; }

.navigation {
	padding: 1em 0;
	border-top:1px dotted $light-gray;
	border-bottom:1px dotted $light-gray;
	a {
		color: $brown-gray;
	}
	
}


a.signup {
	color: $red;
}

a { color: $link-color;
	&:hover	{	color: $link-hover;
	}
}

.help-note {background-color: $background-note;
	& a { color: $strong-blue;
		&:hover {color: $strong-blue-hover;}
	}
}

.freelance-tools  {
	.favorite {	
		background-color: $highlight;
		color: $highlight-text-color;
		}
}		
h1, h2, h3 {
		color: $header-color;
}