$red: 							#E44727;

$blue:              #7191bc;
$strong-blue:				#3477d3;
$strong-blue-hover: darken($strong-blue, 20%);

$gray:              #e7e2db;
$light-gray:				#f0eeea;
$dark-gray: 				#4b4947;
$brown-gray: 				#9e9890;
$line-gray: 				#D9D3CF;

$white:             #fff;
$off-white:					#f5f5f5;
$black:             #111;

$light-yellow:			#fef3b8;
$yellow:						#ffe672;
$dark-yellow:				#a76e00;



$text-color:        		$dark-gray;
$header-color: 					$black;
$link-color:        		$blue;
$link-hover:        		darken($link-color, 15%);
$border-color:      		#ccc;
$background-color:			$white;
$background-note: 			$light-yellow;
$highlight: 						$yellow;
$highlight-text-color: 	$dark-yellow;


body, p, a, span, ol, ul, textarea { 
	color: $text-color; 
}
hr {
	background-color: $line-gray; 
}
h2.jumbo {
	color: $brown-gray;
}

h4 {
	color: $black;
}
.navigation {
	padding: 1em 0;
	border-top:1px dotted $light-gray;
	border-bottom:1px dotted $light-gray;
	a {
		color: $brown-gray;
		&:hover {
			color: $dark-gray;
		}
	}
	
}
.small {
	color: $brown-gray;
}

.pricing form {
	border: 2px solid $light-gray;
}
.pricing-lead-category {
	background-color: $light-gray;
}

.payment-form {
	background-color: $off-white;
	box-shadow: 0px 0px 5px $brown-gray;
	input[type=email] {
		background-color: $white;
	}
}

a.signup {
	color: $red;
}

a { color: $link-color;
	&:hover	{	color: $link-hover;
	}
}

.help-note {background-color: $background-note;
	& a { color: $strong-blue;
		&:hover {color: $strong-blue-hover;}
	}
}

.freelance-tools  {
	.favorite {	
		background-color: $highlight;
		color: $highlight-text-color;
		}
}		
h1, h2, h3 {
		color: $header-color;
}
.cite, cite p {
	color: $brown-gray;
}
blockquote {
}