.navigation {
	width: 100%;
	display: inline-block;
	.resources {
		width: 800px;
		margin: 0 auto;
		div {
			margin: 0;
			float: left;
			padding: 0 3em;
		}
	}
}
#welcome-note-message {
	& p, & a, & ol {
	font-size: 12px;
	}
}

table.work {
	width: 100%;
	& p {
		margin: 0;
	}
	& a {
		text-decoration: none;
	}
	& a:hover {
		color: #0083e7;
	}
}