// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tagline {display: inline-block; vertical-align: 2.5em;}
.tagline span {color: #111; font-weight: 600;}

.help-note {font-size: 12px; padding: 1em; background-color: #fef3b8;
	strong a, a {font-size: 12px; font-weight: 600; color:#3477d3; }
		}
blockquote { border-left: 5px solid #f1f1f1; padding: 0 1em; margin: 1em 0;

}	

ol li {
		padding: .25em 0;
	}