@charset "utf-8";

body {
	font-family: Georgia;
	font-size: 19px;
	line-height: 1.5;
	color: #545048;
	padding: 0 .25em;
	margin: 0;
}

a {
	color: #ff950b;
}

a:hover {
	color: #ff6278;
}

@media only screen and (max-width: 800px) {
	body {
		font-size: 90%;
	}
}

h1, h2, h3 {
	color: #302f29;
}

@media only screen and (max-width: 800px) {
	h1 { 
		font-size: 120%;
		margin: 0; 
	}
	
	h3 {
		font-size: 100%;
	}
}

textarea {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	font-size: 25px;
	border: 0;
	outline: 0;
	resize: none;
	margin: 0; 
	line-height: 1.3; 
	padding: .5em 2em;
}

@media only screen and (max-width: 800px) {
	textarea {
		font-size: 20px;
		padding: .5em .5em;
	}
}

.logo {
width: 200px; margin: 3em auto 0; display: block;
}
@media only screen and (max-width: 800px) {
	.logo {
		width: 100px;
	}
}



input[type=submit], a.button {
	color: #FFF;
	border: 0;
	text-decoration: none;
	display: inline-block;
	border-radius: 9px;
	font-size: 25px;
	margin: 0;
	padding: .5em 1.25em .75em;
	line-height: 1;
	cursor: pointer;
  background: #ea5a6e;
  background: -webkit-linear-gradient(left, #f48f0b, #ea5a6e, #ba55d7);
  background: -o-linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7); 
  background: -moz-linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7); 
  background: linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7);

}

input[type=submit]:hover, a.button:hover {
	background: #ff6278;
  background: -webkit-linear-gradient(left, #ff950b, #ff6278, #bf57dd);
  background: -o-linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7); 
  background: -moz-linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7); 
  background: linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7);
	box-shadow: 0px 0px 10px #fff8ef;
  
}

input[type=submit]:active, a.button:active {
	color: #000;
}

@media only screen and (max-width: 800px) {
	.jason-image {
		display: none;
	}
	
	input[type=submit], a.button { 
		font-size: 16px;
	}
}

.required {
	font-size: 17px;
	font-weight: normal;
	color: #545048;
	opacity: .6;
}

@media only screen and (max-width: 800px) {
	.required { 
		font-size: 60%;
		margin: 0; 
	}
}


.textarea-wrap {
	margin: 1em 0 7em;
	padding: 1.5em 0 .5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	box-sizing: border-box;
}


@media only screen and (max-width: 800px) {
	.textarea-wrap {
		padding: 1em 0 0;
	}	
}

.project-brief-question-wrap {
	max-width: 800px; 
	width: 100%;
	margin: 3em auto 0;
	box-sizing: border-box;
}

.project-brief-question  {
	margin: 4em 0 .25em;
}

.project-brief-question + p {
	margin: 0 0 2em;
}

.project-brief-category-choice-option {
	margin: 0 0 2em;
	display: table;
	box-sizing: border-box;
	width: 100%;
}

fieldset {
	padding: 0 3.25em .5em;
	border: 0;
	font-size: 16px;
	display: inline-block;
	width: auto;
	box-sizing: border-box;
	width: 49.5%;
}


@media only screen and (max-width: 800px) {
	fieldset {
		padding: 0;
		width: 100%;
		font-size: 14px;
	}
}	
	
.project-category-checkbox-wrap {
	margin: .25em 0;
}

.project-category-checkbox-wrap input[type=checkbox] {
	margin: 0 .5em 0 0;
}

.steps {
	border-bottom: 1px solid #ccc;
	padding: 1em 0;
	text-align: right;
	font-size: 16px;
}

@media only screen and (max-width: 800px) {
	.steps {
		font-size: 8px;
		text-align:center;
	}
}

.steps span {
	padding: .25em 1em .35em;
	border-radius: 7px;
	background-color: #eee;
	margin: 0 .5em 0 0;
	display: inline-block;
}

.steps .active {
	color: #FFF;	
  background: #ea5a6e;
  background: -webkit-linear-gradient(left, #f48f0b, #ea5a6e, #ba55d7);
  background: -o-linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7); 
  background: -moz-linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7); 
  background: linear-gradient(right, #f48f0b, #ea5a6e, #ba55d7);
}


input[type=text], input[type=email], input[type=password] {
	font-size: 19px;
	padding: .5em;
	max-width: 350px;
	width: 100%;
	box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
	input[type=text], input[type=email], input[type=password] {
		font-size: 12px;
	}
}


.new-account-form-wrap {
	margin: 2em auto 5em;
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
}

.new-account-form-wrap form h3 {
	margin: 1em 0 0;
	font-size: 16px;
}


.new-account-form-wrap form .required {
	margin: 0 0 .5em;
	font-size: 14px;
}

.new-account-form-wrap form .opt-in {
	width: 100%;
	padding: .75em 0 1em;
	margin: 1em 0 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 15px;
}

@media only screen and (max-width: 800px) {
	.new-account-form-wrap form h3 {
		font-size: 14px;
	}
	
	.new-account-form-wrap form .required {
		font-size: 10px;
	}
	
	.new-account-form-wrap form .opt-in {
		font-size: 10px;
	}
}

.new-account-form-wrap form .opt-in input[type=checkbox] {
	margin-right: .5em;
}


#target img {
	float: left; 
	width: 50px; 
	height: 50px; 
	margin-right: .5em;
	border-radius: 50px;
	margin-top: -12px;
}

.footer-menu a {
	color: #777166;
	margin: 0 .25em;
	font-size: 16px;
}