@charset "utf-8";

body {
	font-family: 'Work Sans', -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif !important;
	line-height: 1.8;
}

h1, h2, h3, strong {
	font-weight: 600;
}