// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.work {
	width: 100%;
	& p {
		margin: 0;
	}
	& a {
		text-decoration: none;
	}
	& a:hover {
		color: #0083e7;
	}
	
}

#welcome-note-message {
	& p, & a, & ol {
	font-size: 12px;
	}
}