<p class="footer-menu" style="margin: 5em 0;">
	<a href="http://letsworkshop.com/learn">Learn</a> 
	<a href="http://letsworkshop.com/press">About</a> 
	<a href="http://emailsthatwin.com">Book</a> 
	<a href="#">Partners</a> 
	<a href="http://letsworkshop.com/signup">PRO Leads</a>  
	<a href="http://letsworkshop.com/terms">Terms of service</a> 
	<span style="color: #aaa;">© 2011-<%= Time.now.year %> Workshop</span>
</p>